<div class="top-section">
  <img src="../../../../assets/top-bar-icons/pharmaceutical.png" alt="" />
  <h1>Pharmaceutical</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="pharmaceutical-industry">Microsoft Dynamics for Pharmaceutical Industry</h5>

    <div class="similar-div">
      <div class="div-content-part">
        <p>
          The Pharmaceutical industry is always thought as a leader when it comes to use of use of
          new, ground breaking technology to operate major developments in Research and Development.
          But, we found that when it comes to inventory, manufacturing, developing, compliance and
          supply chain management business functions most Pharmaceutical companies still end up
          using 20 years old technology. And don’t use latest enterprise management systems like
          Microsoft Dynamics for Pharmaceutical Industry.
        </p>
        <p>
          But today’s industry market leaders are employing Pharmaceutical ERP Software like
          Microsoft Dynamics AX to attain compliance and conformity, eliminate costly paperwork
          mistakes, increase information circulation and cooperation, and allow strategies for
          refining product quality and process efficiency.
        </p>
      </div>
      <div class="div-content-part">
        <p>
          So Microsoft Dynamics for Pharmaceutical industry includes expanded functionality for:
        </p>
        <div class="fancy">
          <ul>
            <li>Acquisition and expansion</li>
            <li>Business visibility</li>
            <li>Globalization</li>
            <li>Handling capital and equipment</li>
            <li>Inventory control and visibility</li>
            <li>Planning for plant capacity</li>
            <li>Scalability</li>
            <li>Managing quality</li>
            <li>
              Surging functional costs
            </li>
            <li>Cyber security risks</li>
            <li>Fluctuating source prices</li>
            <li>Inaccurate data and reporting challenges</li>
            <li>And many more…</li>
          </ul>
        </div>
        <p>
          Microsoft Dynamics that is configured by TMRC ensures the best functionality for
          Pharmaceutical Industry.
        </p>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
        <p>
          We at TMRC understand how to utilize our different services, resources and also expertise
          in a combined and best way possible according to your business needs. We take holistic
          approach for the growth of your business and create an overall synergistic effect.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/industries/pharmaceutical#pharmaceutical-industry"
          >Microsoft Dynamics for Pharmaceutical Industry</a
        >
        <a href="/industries/pharmaceutical#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
