<!-- <div class="content-area">
  <div class="top-section">
    <h1>Insurance</h1>
  </div>
  <div class="content">
    <h2 name="insurance-industry">Microsoft Dynamics for Insurance Industry</h2>
    <p>
      Microsoft Dynamics ERP offers insurance agents and companies answers to streamline resources
      by giving a simplified way to control regulations, record commissions, increase sales and
      integrate with external systems. Microsoft Dynamics for insurance industry can support the
      operations of your company now and in the near future, whether you have one office or multiple
      branches worldwide.
    </p>
    <p>
      Our experienced TMR consulting team has aided insurance firms with integrating and
      implementing relevant Microsoft Dynamics to addresses common pain factors that lots of
      insurance businesses experience. We encourage you to call us if you have any queries and tell
      just a little about your business and goals. We may offer insight concerning which ERP would
      best fit your firm’s needs; and also offer insights on best business techniques to help you:
    </p>
    <div class="fancy">
      <ul>
        <li>Provide process insights to operate far better business decisions.</li>
        <li>Automate tasks to lessen the administrative burden on agents and brokers.</li>
        <li>Track and Manage commission.</li>
        <li>
          Provide record storage, versioning and management for multiple service providers and
          policies.
        </li>
        <li>
          Integrate disparate financial, insurance, CRM; or ERP systems and draw information into
          one central location, showing your team with relevant data they want.
        </li>
        <li>Provide central financials such as HR, AR, Payroll.</li>
      </ul>
    </div>

    <h2 name="why-tmrc">Why TMRC</h2>
    <p>
      We at TMRC understand how to utilize our different services, resources and also expertise in a
      combined and best way possible according to your business needs. We take holistic approach for
      the growth of your business and create an overall synergistic effect.
    </p>
  </div>
  <div class="content-links">
    <div class="cl-links-container">
      <a class="side-link-selected" href="/industries/insurance#insurance-industry"
        >Microsoft Dynamics for Insurance Industry</a
      >
      <a href="/industries/insurance#why-tmrc">Why TMRC</a>
    </div>
  </div>
</div> -->

<!-- ... -->

<div class="top-section">
  <img src="../../../../assets/top-bar-icons/insurance.png" alt="" />
  <h1>Insurance</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="insurance-industry">Microsoft Dynamics for Insurance Industry</h5>

    <div class="similar-div">
      <div class="div-content-part">
        <p>
          Microsoft Dynamics ERP offers insurance agents and companies answers to streamline
          resources by giving a simplified way to control regulations, record commissions, increase
          sales and integrate with external systems. Microsoft Dynamics for insurance industry can
          support the operations of your company now and in the near future, whether you have one
          office or multiple branches worldwide.
        </p>
        <p>
          Our experienced TMR consulting team has aided insurance firms with integrating and
          implementing relevant Microsoft Dynamics to addresses common pain factors that lots of
          insurance businesses experience. We encourage you to call us if you have any queries and
          tell just a little about your business and goals. We may offer insight concerning which
          ERP would best fit your firm’s needs; and also offer insights on best business techniques
          to help you:
        </p>
      </div>
      <div class="div-content-part">
        <div class="fancy">
          <ul>
            <li>Provide process insights to operate far better business decisions.</li>
            <li>Automate tasks to lessen the administrative burden on agents and brokers.</li>
            <li>Track and Manage commission.</li>
            <li>
              Provide record storage, versioning and management for multiple service providers and
              policies.
            </li>
            <li>
              Integrate disparate financial, insurance, CRM; or ERP systems and draw information
              into one central location, showing your team with relevant data they want.
            </li>
            <li>Provide central financials such as HR, AR, Payroll.</li>
          </ul>
        </div>
      </div>

      <div class="div-content-part">
        <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
        <p>
          We at TMRC understand how to utilize our different services, resources and also expertise
          in a combined and best way possible according to your business needs. We take holistic
          approach for the growth of your business and create an overall synergistic effect.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a class="side-link-selected" href="/industries/insurance#insurance-industry"
          >Microsoft Dynamics for Insurance Industry</a
        >
        <a href="/industries/insurance#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
