<div class="top-section">
  <img src="../../../../assets/top-bar-icons/consumer-goods.png" alt="" />
  <h1>Consumer Goods</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="consumer-goods">Microsoft Dynamics for Consumer Goods</h5>

    <div class="similar-div">
      <div class="div-content-part">
        <p>
          The introduction of multi-channel is empowering the businesses of consumer goods and its
          vendors, permitting them to connect to clients online, in-store and on the move. So
          Microsoft Dynamics for Consumer Goods empowers your company to provide the best user
          experience to your customers.
        </p>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines">Industry Specific Consumer Goods Retailer Solution</h6>
        <p>
          Microsoft Dynamics for Consumer Goods is specially designed ERP for the omni-channel world
          of retail. Consumers expect to have the ability to interact, research and purchase online,
          in the traditional way and on the move. By linking all retail programs with Microsoft
          Dynamics CRM and Microsoft Dynamics AX, suppliers can also deliver a consistent experience
          to customers all the time.
        </p>
        <p>
          Microsoft Dynamics GP, AX and CRM can support your company to provide a desirable customer
          experience. By making it seamless to order, buy and also engage with the business that
          will place you aside from a massive sea of competition in the retail sector.
        </p>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines">TMRC Helps Consumer Goods Retailer Management With</h6>
        <div class="fancy">
          <ul>
            <li>
              <b>Cross Route</b> recruit clients and generate earning opportunities across both more
              developed and emerging digital, mobile channels
            </li>
            <li>
              <b>Product Information Management</b> manage growing product data for customer
              consumption
            </li>
            <li>
              <b>Supply Chain</b> make the most of demand opportunities by guaranteeing inventory is
              where it requires to be
            </li>
            <li>
              <b>Rates Management</b> manipulate product costs to control product margins and
              maintain demand to boost profits
            </li>
          </ul>
        </div>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
        <p>
          We at TMRC understand how to utilize our different services, resources and also expertise
          in a combined and best way possible according to your business needs. We take holistic
          approach for the growth of your business and create an overall synergistic effect.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/industries/consumer-goods#consumer-goods"
          >Microsoft Dynamics for Consumer Goods</a
        >
        <a href="/industries/consumer-goods#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
