<div class="sub-part">
  <p>
    We keep it core at our heart as we believe an underlying infrastructure is the base of the
    performance the compute offers. However, when it comes to deploy an Architecture there are lots
    of issues to be considered depending upon your Requirements.
  </p>
  <p>
    We at TMR Consult Makes sure your strategy the infrastructure and endpoint management are well
    defined before we implement.
  </p>

  <p class="fancy-paragraph">
    TMR Consult is a Tier 1 CSP Provider for MEA Region!
  </p>

  <p>
    With the advancement of technology, we Provide full range of infrastructure services including
    compute and Storage options as well as a Stand-By Datacenter for you Disaster Recovery Needs or
    to have new site on cloud.
  </p>
  <p>
    We recommend you to have a look to check out related options on the upper right section of this
    page or You can contact us we will be at your service happily.
  </p>
</div>
