/* Top bar with icon & title */
.top-section {
  background: #232528;
  padding: 1em;
  display: grid;
  place-items: center;
  height: 200px;
}
.top-section * {
  animation: 800ms ease 250ms 1 fade-in;
  animation-fill-mode: backwards;
}
.top-section img {
  width: 80px;
}
.top-section h1 {
  color: #f48120;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Container Grid - holds all the three columns */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
}
.sidebar-left {
  grid-column: 1 / 2;
  padding: 2em;
}
.content-part {
  grid-column: 2 / 3;

  padding: 2em 2em;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}
.sidebar-right {
  grid-column: 3 / 4;
  padding: 2em;
}

/* Left and Right side bar */
.title-and-links {
  position: sticky;
  top: 90px;
}
.links-title {
  display: inline-block;
  border-bottom: 3px double grey;
  cursor: default;
  font-weight: 500;
  font-size: 18px;
}
.links-container {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.links-container a {
  text-decoration: none;
  color: black;
  padding: 0.25em 0.25em;
}
.links-container a:hover {
  background: #f48120;
  color: white;
}
.active-link {
  font-weight: 500;
}

/* Right side - Dot styled links */
.styled-links-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
}
.styled-links-container::before {
  border-left: 1px solid #efefef;
  bottom: 15px;
  content: '';
  left: -11px;
  position: absolute;
  top: 20px;
}
.styled-links-container a {
  text-decoration: none;
  color: black;
  padding: 5px;
  position: relative;
}
.styled-links-container a:hover {
  color: #df731b;
}
.styled-links-container a::before {
  content: '';
  border-radius: 50%;
  left: -15px;
  top: 15px;
  background: #efefef;
  border: 1px solid #efefef;
  position: absolute;
  width: 9px;
  height: 9px;
}
.styled-links-container a:hover::before {
  background: #f48120;
  /* border: 1px solid #252829; */
}

/* Elements with in Content part */
.content-part h2 {
  margin-bottom: 20px;
}
.content-part h5 {
  margin-bottom: 20px;
  text-align: center;
}
.content-part h6 {
  margin-bottom: 20px;
}
.div-content-part {
  border: 1px solid #efefef;
  padding: 1em;
  padding-bottom: 0;
  margin-bottom: 1em;
}
.div-content-part:nth-child(even) {
  background: #efefef;
}
.div-content-part img {
  max-width: 100%;
  display: block;
  margin: 1em 0;
}
.div-content-part iframe {
  display: block;
  margin: 1em 0;
}
.heading-doublelines {
  border-bottom: 3px double #212529;
  padding-bottom: 2px;
  display: inline-block;
  margin-bottom: 8px !important;
}
.fancy {
  background: rgb(233, 233, 233);
  padding: 1em;
  border-left: 5px solid #f48120;
  margin: 1em 0px !important;
}
.div-content-part p,
h2,
h5,
h6,
img {
  animation: 800ms ease 500ms 1 fade-in;
  animation-fill-mode: backwards;
}
