<div class="top-section">
  <img src="../../../../assets/top-bar-icons/project-management.png" alt="" />
  <h1>Microsoft Dynamics NAV</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Solutions</p>
      <div class="links-container">
        <a routerLink="/solutions/dynamics-365" routerLinkActive="active-link"
          >Microsoft Dynamics 365</a
        >
        <a routerLink="/solutions/dynamics-gp" routerLinkActive="active-link"
          >Microsoft Dynamics GP</a
        >
        <a routerLink="/solutions/dynamics-ax" routerLinkActive="active-link"
          >Microsoft Dynamics AX</a
        >
        <a routerLink="/solutions/dynamics-crm" routerLinkActive="active-link"
          >Microsoft Dynamics CRM</a
        >
        <a routerLink="/solutions/dynamics-nav" routerLinkActive="active-link"
          >Microsoft Dynamics NAV</a
        >
        <a routerLink="/solutions/azure" routerLinkActive="active-link">Microsoft Azure</a>
        <a routerLink="/solutions/office-365" routerLinkActive="active-link"
          >Microsoft Office 365</a
        >
        <a routerLink="/solutions/business-central" routerLinkActive="active-link"
          >Microsoft Dynamics 365 <br />
          Business Central</a
        >
        <a routerLink="/solutions/sharepoint" routerLinkActive="active-link"
          >Microsoft SharePoint</a
        >
        <a routerLink="/solutions/quickbooks" routerLinkActive="active-link">Quick Books</a>
        <a routerLink="/solutions/peachtree-accounting" routerLinkActive="active-link"
          >Peachtree Accounting</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="future-for-retailers">
        <img src="../../../../assets/images/Microsoft-Dynamics-Nav-Pakistan.png" alt="" />
        <p>
          Microsoft Dynamics NAV in Pakistan (previously Navision) is a complete end-to-end ERP
          solution for small and mid-size businesses looking for an enterprise resource planning
          solution that’s fast to implement, easy to configure and simple to use. Microsoft Dynamics
          NAV in Pakistan provides comprehensive core business management functionality including
          financials, manufacturing, reporting, supply chain management, service management and
          more. Fast to deploy on premise or in the cloud, it is also easy to adapt, extend and
          integrate. It is used by over 1.4 million users from over 118,000 companies worldwide.
        </p>
      </div>

      <div class="div-content-part" name="system-to achieve-more">
        <h5>Deploy a system that does everything you need to achieve more</h5>
        <div class="fancy">
          <ul>
            <li><b>Financial management and accounting</b> Manage your cash, assets and banking</li>
            <li>
              <b>Supply chain, manufacturing and operations</b> Track and manage your production,
              inventory, orders and vendors
            </li>
            <li>
              <b>Sales and service</b> Manage your contacts, sales opportunities and service
              contracts
            </li>
            <li><b>Project management</b> Create estimates, track projects and manage capacity</li>
            <li>
              <b>Business intelligence and reporting</b> Get a holistic view of your business and
              make better decisions
            </li>
            <li>
              <b>Support for international currencies</b> Compete globally using multiple currencies
              and languages
            </li>
            <li>
              <b>Flexible deployment</b> Deploy on-premises or in the cloud, whichever model best
              fits your business
            </li>
            <li>
              <b>Work how and where you need to</b> Work seamlessly from inside outlook inbox, on
              your phone or tablet and at home on your laptop and get things done wherever you need
              to work.
            </li>
          </ul>
        </div>
      </div>

      <div class="div-content-part" name="why-us">
        <h5>Why partner with us?</h5>

        <div class="fancy">
          <ul>
            <li>
              <b>Integration expertise:</b> work smarter with our third-party and in-house
              integrations. Plus integrate with SharePoint or Microsoft Dynamics 365 / CRM.
            </li>
            <li>
              <b>10+ years of combined experience:</b> TMRC team have been developing, implementing
              and supporting Microsoft Dynamics for a while now.
            </li>
            <li>
              <b>Dedicated Microsoft Dynamics scheduled training program:</b> We run in-house
              courses covering everything from a beginner’s guide, to super-user sessions, at a
              cost-effective rate – so whether you have new users to train up or simply want to
              enhance your understanding and optimize the way you work with Microsoft Dynamics, we
              will always have a variety of courses to suit.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/solutions/dynamics-nav#system-to achieve-more"
          >System that does everything to achieve more</a
        >
        <a href="/solutions/dynamics-nav#why-us">Why partner with us?</a>
      </div>
    </div>
  </div>
</div>
