<div class="top-section">
  <img src="../../../../assets/top-bar-icons/retail.png" alt="" />
  <h1>Retail</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="dynamics-for-retail">Microsoft Dynamics for Retail</h5>
    <div class="similar-div">
      <div class="div-content-part" name="future-for-retailers">
        <h6 class="heading-doublelines">The future is clear for retailers</h6>
        <img src="../../../../assets/images/retail.jpg" alt="" />
        <p>
          Buying the right ERP is important to meet the demands of today’s consumer and the
          multi-channel retail certainty. And this is exactly why Microsoft Dynamics for Retail
          Sector is the best ERP in Pakistan solution.
        </p>
        <p>
          The good thing is that the features people need and what individuals are demanding is
          already here now, delivered by Microsoft Dynamics and executed by the Retail Specialists
          at TMR Consulting.
        </p>
        <p>
          Microsoft Dynamics for Retail in Pakistan is latest, unified and modern retail solution
          that reduces difficulty for vendors; freeing these to concentrate on connecting with
          customers and empowering their workers across all programs. It allows organizations to
          provide an entire shopping experience that is personal, smooth, and differentiated
        </p>
      </div>

      <div class="div-content-part" name="powerful-solution">
        <h6 class="heading-doublelines">A powerful retail solution</h6>
        <p>
          Microsoft Dynamics for Retail permits retailers of most sizes, all over the world, to be
          dynamic. It provides a full shopping experience, with a smooth and differentiating
          omni-channel solution that is newer, more mobile, and even more global. End-to-end
          features, from modern point of sale (POS), merchandising, store functions, e-commerce,
          marketing, call center, and customer support, to financials, supply chain, and much more,
          can be deployed in the manner which makes the most sense for your business.
        </p>
        <p>
          So, Microsoft Dynamics for Retail in Pakistan provides customer engaging features which
          include route management, store operations, order management, marketing and care and
          attention, and business intelligence, along with an increase of office features, like
          financials and procurement, within an end-to-end solution providing full awareness across
          the complete business.
        </p>
        <p>
          So, these capacities can be integrated as a thorough solution or as specific business
          functions to check existing systems, allowing retailers to choose your best option for
          them.
        </p>
        <iframe
          width="540"
          height="304"
          src="https://www.youtube.com/embed/NWKaVM1oRKI"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <div class="div-content-part" name="e-commerce">
        <h6 class="heading-doublelines">E-commerce</h6>
        <p>
          Customers are informed and connected and want shopping selections. Consumer’s today need
          more from their retail experience when compared to a simple deal. Now, the experience must
          be truly spectacular regarding customer support, personally relevant, and highly
          distinguished from your competition. Because, they want the choice of heading to a
          physical store, surfing around on a tablet at home, or shopping on-the-go by using a
          smartphone! “Point of sale” is converting to “point of service”–a place where retailers
          build relationships, loyalty and engage customers whether it is with the clicks or within
          bricks. Inventory monitoring, personal recommendations, comparison shopping and trend
          tracking, we can take all to the physical storefront with the power of smart, linked and
          connected modern devices.
        </p>
        <p>
          E-commerce and public features in Microsoft Dynamics for Retail in Pakistan provide
          today’s vendors with a possibility to connect and engage with customers via an
          omni-channel shopping experience. Moreover, Vendors can also connect with friends and
          supporters and can accumulate purchasing motives and choices on Facebook, Tweets, and
          Pinterest.
        </p>

        <iframe
          width="540"
          height="304"
          src="https://www.youtube.com/embed/CfD7K7MY7Fg"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <div class="div-content-part" name="omni-channel">
        <h6 class="heading-doublelines">Omni-channel</h6>
        <p>
          Omni-channel is focused on being linked to people channels where your visitors shop. It is
          all about providing information, along with easy and steady shopping activities, and also
          pushing customers to truly have a relation with your brand. Because, customers move from
          internet sites, to online stores, to in-store experience, plus they expect smooth and
          constant proposal with the retailer
        </p>

        <iframe
          width="540"
          height="304"
          src="https://www.youtube.com/embed/AiE7O9xBkSI"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <div class="div-content-part" name="marketing">
        <h6 class="heading-doublelines">Marketing</h6>
        <p>
          Easily plan, implement, and also measure promotions from learn to finish off. Bring your
          marketing to life by engaging customers with tailored, multi-channel promotions, build
          pipeline, and finally, illustrate the impact of your marketing. Features include:
        </p>
        <div class="fancy">
          <ul>
            <li>Execution planning</li>
            <li>Content and spend management</li>
            <li>Media buying and planning</li>
            <li>Campaign nurturing and automation</li>
          </ul>
        </div>
        <iframe
          width="540"
          height="304"
          src="https://www.youtube.com/embed/_xdDaEBZAiE"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <div class="div-content-part" name="supply-chain">
        <h6 class="heading-doublelines">Supply chain management</h6>
        <img src="../../../../assets/images/Supply-Chain.png" alt="" />
        <p>
          To get control, you desire a real-time view of your business and products. And with that
          control, you could have better people and operations, an improved handling on costs, more
          happy customers and, hence, greater income. Features include:
        </p>
        <div class="fancy">
          <ul>
            <li>Replenishment</li>
            <li>Buying</li>
            <li>Warehouse and transportation logistics</li>
            <li>Order management</li>
          </ul>
        </div>
      </div>

      <div class="div-content-part" name="finance">
        <h6 class="heading-doublelines">Finance</h6>
        <p>
          Increase insights into the financial group and streamline financial planning and
          performance management while observing cash flow closely, handles, costs, and risk, with
          one built-in solution that can help you re-imagine finance to operate a drive impact.
        </p>
        <div class="fancy">
          <ul>
            <li>Budgeting, planning, and forecasting</li>
            <li>General ledger</li>
            <li>Accounts payables</li>
            <li>Accounts receivables</li>
            <li>Cost accounting and financial controls</li>
            <li>Fixed assets</li>
            <li>Consolidation</li>
            <li>Cash and bank management</li>
            <li>Operational analysis and reporting</li>
          </ul>
        </div>
        <iframe
          width="540"
          height="304"
          src="https://www.youtube.com/embed/XP8z-DW2wkI"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <h6 class="heading-doublelines" name="modern-store">The Modern Store</h6>
    <p>
      Microsoft Dynamics ERP in Pakistan helps stores and also retailers increase their rate and
      speed of business through adaptable, agile and flexible deployments; as well as provide
      customers with a smooth shopping experience across all platforms and touch-points. So, TMRC is
      meeting the needs of tomorrow’s retailers today.
    </p>

    <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
    <p>
      We at TMRC understand how to utilize our different services, resources and also expertise in a
      combined and best way possible according to your business needs. We take holistic approach for
      the growth of your business and create an overall synergistic effect.
    </p>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/industries/retail#dynamics-for-retail">Microsoft Dynamics for Retail</a>
        <a href="/industries/retail#future-for-retailers">The future is clear for retailers</a>
        <a href="/industries/retail#powerful-solution">A powerful retail solution</a>
        <a href="/industries/retail#e-commerce">E-commerce</a>
        <a href="/industries/retail#omni-channel">Omni-channel</a>
        <a href="/industries/retail#marketing">Marketing</a>
        <a href="/industries/retail#supply-chain">Supply chain management</a>
        <a href="/industries/retail#finance">Finance</a>
        <a href="/industries/retail#modern-store">The Modern Store</a>
        <a href="/industries/retail#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
