<!-- <div class="content-area">
  <div class="top-section">
    <h1>Logistics and Transportations</h1>
  </div>
  <div class="content">
    <h2 name="logistics-transportation">Microsoft Dynamics for Logistics and Transportation</h2>
    <h6>Synergistic results in logistics and Transportation with Microsoft Dynamics and TMRC</h6>
    <p>
      Execution of Microsoft Dynamics for logistics and transportation provide powerful projecting
      functionalities promoting your long-term planning and assisting you to enhance your warehouse
      and logistics management. So with this ERP for logistics it is possible to schedule purchases
      and turnover predicated on intervals and articles by using a great number of planning models
      to simulate different future cases. Using batch and serial numbers, you can keep track of
      activities related to articles within Microsoft Dynamics for logistics and transportation
      interface with immediate access to data where articles are presently and how they have been
      used.
    </p>
    <h6>Optimized logistics and Transparent inventory management</h6>
    <div class="fancy">
      <ul>
        <li>
          Optimization of inventory management by improving transparency via an intelligent article
          movements monitoring
        </li>
        <li>
          Stock improvements and Logistic process through coordination of article availability and
          customer needs
        </li>
        <li>
          Improved materials requirements planning by versatile options for managing assortments
        </li>
        <li>And finally, simple formation of assortments with a visual assortment designer</li>
      </ul>
    </div>

    <h2 name="why-tmrc">Why TMRC</h2>
    <p>
      We at TMRC understand how to utilize our different services, resources and also expertise in a
      combined and best way possible according to your business needs. We take holistic approach for
      the growth of your business and create an overall synergistic effect.
    </p>
  </div>
  <div class="content-links">
    <div class="cl-links-container">
      <a
        class="side-link-selected"
        href="/industries/logistics-&-transportation#logistics-transportation"
        >Microsoft Dynamics for Logistics & Transportation</a
      >
      <a href="/industries/logistics-&-transportation#why-tmrc">Why TMRC</a>
    </div>
  </div>
</div> -->

<!-- ... -->

<div class="top-section">
  <img src="../../../../assets/top-bar-icons/logistics-transportation.png" alt="" />
  <h1>Logistics and Transportation</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="logistics-transportation">Microsoft Dynamics for Logistics and Transportation</h5>

    <div class="similar-div">
      <div class="div-content-part">
        <h6 class="heading-doublelines">
          Synergistic results in logistics and Transportation with Microsoft Dynamics and TMRC
        </h6>
        <p>
          Execution of Microsoft Dynamics for logistics and transportation provide powerful
          projecting functionalities promoting your long-term planning and assisting you to enhance
          your warehouse and logistics management. So with this ERP for logistics it is possible to
          schedule purchases and turnover predicated on intervals and articles by using a great
          number of planning models to simulate different future cases. Using batch and serial
          numbers, you can keep track of activities related to articles within Microsoft Dynamics
          for logistics and transportation interface with immediate access to data where articles
          are presently and how they have been used.
        </p>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines">
          Optimized logistics and Transparent inventory management
        </h6>
        <div class="fancy">
          <ul>
            <li>
              Optimization of inventory management by improving transparency via an intelligent
              article movements monitoring
            </li>
            <li>
              Stock improvements and Logistic process through coordination of article availability
              and customer needs
            </li>
            <li>
              Improved materials requirements planning by versatile options for managing assortments
            </li>
            <li>And finally, simple formation of assortments with a visual assortment designer</li>
          </ul>
        </div>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
        <p>
          We at TMRC understand how to utilize our different services, resources and also expertise
          in a combined and best way possible according to your business needs. We take holistic
          approach for the growth of your business and create an overall synergistic effect.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a
          class="side-link-selected"
          href="/industries/logistics-&-transportation#logistics-transportation"
          >Microsoft Dynamics for Logistics & Transportation</a
        >
        <a href="/industries/logistics-&-transportation#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
