<!-- <div class="content-area">
  <div class="top-section">
    <h1>Energy and Utilities</h1>
  </div>
  <div class="content">
    <h2 name="energy-utilities">Microsoft Dynamics for Energy and Utilities</h2>
    <p>
      Global market volatility, increased restrictions, and fast changes in the energy market
      sectors are forcing energy related companies to use a more successful and intelligent business
      design. Whether tuning the renewable energy, engine gas and oil-or utilities markets-service
      providers today need smart systems to help them take care of resources and costs, identify
      developments, and deliver cheap energy to the marketplace.
    </p>
    <p>
      Energy, power and utilities firms need fuel to speed up the growth of the business. With ERP
      like Microsoft Dynamics for Energy and Utilities, you’ll be able to adjust to the changing
      market and federal government policies, as well as create a better relationship with your
      clients. Microsoft Dynamics for Energy and Utilities is an ERP that empowers utilities and
      energy companies through advanced integration and analytics by following facts:
    </p>
    <div class="fancy">
      <ul>
        <li>Energy Consumption and Distribution</li>
        <li>Infrastructure Systems</li>
        <li>Energy Trading</li>
        <li>Emergency Preparedness</li>
        <li>Incident and Compliance Management</li>
      </ul>
    </div>
    <p>
      In conclusion, Microsoft Dynamics for Energy and Utilities provides all the required tools for
      the power and utility market sectors. The tools including budgeting, inventory management,
      returns and claims, integration of data silos and automation of workflows through multiple
      departments.
    </p>

    <p>
      Through better client relationships, improved business agility and also modern systems. TMRC
      ensures that your energy, power and utility company has what must be done to stay the best in
      the market today.
    </p>
    <h2 name="why-tmrc">Why TMRC</h2>
    <p>
      We at TMRC understand how to utilize our different services, resources and also expertise in a
      combined and best way possible according to your business needs. We take holistic approach for
      the growth of your business and create an overall synergistic effect.
    </p>
  </div>
  <div class="content-links">
    <div class="cl-links-container">
      <a class="side-link-selected" href="/industries/energy-&-utilities#energy-utilities"
        >Microsoft Dynamics for Energy & Utilities</a
      >
      <a href="/industries/energy-&-utilities#why-tmrc">Why TMRC</a>
    </div>
  </div>
</div> -->

<!-- .... -->

<div class="top-section">
  <img src="../../../../assets/top-bar-icons/energy-utilities.png" alt="" />
  <h1>Energy and Utilities</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="energy-utilities">Microsoft Dynamics for Energy and Utilities</h5>
    <div class="similar-div">
      <div class="div-content-part">
        <p>
          Global market volatility, increased restrictions, and fast changes in the energy market
          sectors are forcing energy related companies to use a more successful and intelligent
          business design. Whether tuning the renewable energy, engine gas and oil-or utilities
          markets-service providers today need smart systems to help them take care of resources and
          costs, identify developments, and deliver cheap energy to the marketplace.
        </p>
      </div>
      <div class="div-content-part">
        <p>
          Energy, power and utilities firms need fuel to speed up the growth of the business. With
          ERP like Microsoft Dynamics for Energy and Utilities, you’ll be able to adjust to the
          changing market and federal government policies, as well as create a better relationship
          with your clients. Microsoft Dynamics for Energy and Utilities is an ERP that empowers
          utilities and energy companies through advanced integration and analytics by following
          facts:
        </p>
        <div class="fancy">
          <ul>
            <li>Energy Consumption and Distribution</li>
            <li>Infrastructure Systems</li>
            <li>Energy Trading</li>
            <li>Emergency Preparedness</li>
            <li>Incident and Compliance Management</li>
          </ul>
        </div>
        <p>
          In conclusion, Microsoft Dynamics for Energy and Utilities provides all the required tools
          for the power and utility market sectors. The tools including budgeting, inventory
          management, returns and claims, integration of data silos and automation of workflows
          through multiple departments.
        </p>

        <p>
          Through better client relationships, improved business agility and also modern systems.
          TMRC ensures that your energy, power and utility company has what must be done to stay the
          best in the market today.
        </p>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
        <p>
          We at TMRC understand how to utilize our different services, resources and also expertise
          in a combined and best way possible according to your business needs. We take holistic
          approach for the growth of your business and create an overall synergistic effect.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a class="side-link-selected" href="/industries/energy-&-utilities#energy-utilities"
          >Microsoft Dynamics for Energy & Utilities</a
        >
        <a href="/industries/energy-&-utilities#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
