<div class="top-section">
  <img src="../../../../assets/top-bar-icons/project-management.png" alt="" />
  <h1>TMRC Business Solution</h1>
</div>

<div class="grid-container">
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Services</p>
      <div class="links-container">
        <a routerLink="/services/business-solution" routerLinkActive="active-link"
          >Business Solutions</a
        >
        <a routerLink="/services/infrastructure-&-endpoint/" routerLinkActive="active-link"
          >InfraStructure & EndPoint Managment</a
        >
        <a routerLink="/services/business-intelligence" routerLinkActive="active-link"
          >Business Intelligence & Reporting</a
        >
        <a routerLink="/services/customization-&-dev" routerLinkActive="active-link"
          >Customization & Development</a
        >
      </div>
    </div>
  </div>

  <div class="content-part">
    <p>
      For over Decades we have maintained our reputation while integrating Business solutions to the
      Enterprises with the Clientele based from different Domains where deployments are based on
      Departmental specifics such as Finance, Human Resource, Supply chain, Manufacturing and so on
      as well as full Enterprise Resource Planning Software’s.
    </p>

    <p class="fancy-paragraph">
      TMR Consult not only provides you an automated solution from Tier Companies albeit we offer
      our clients full Consultancy & satisfaction by providing recommendations from our Domain
      Experts, Customer Service, Pre-sales and After Sales Support Staff.
    </p>

    <p>
      We have a long list of clients growing with us in their businesses, So Make it happen and
      Possible we are at your service Sir! we are partners with Microsoft at the Tier 1 level
      meaning our competencies are regularly monitor and enhanced on Daily basis to cope with the
      future needs of Our clients.
    </p>
    <p>
      We recommend you check out the related Products just on the upper right to enquire more or you
      may contact us, we will be more than happy to be helping you out.
    </p>

    <!-- Tags - Part -->
    <div class="tags-div">
      <a>Business</a>
      <a>Design</a>
      <a>Development</a>
    </div>

    <!-- Written by - Part -->
    <div class="writer-grid">
      <div class="writer-item-1">
        <img
          src="../../assets/images/person.jpg"
          class="rounded-circle"
          width="150"
          height="150"
          alt=""
        />
      </div>
      <div class="writer-item-2">
        <h3>Muhammad Mazhar Javed</h3>
        <p>
          The article was written by &Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Laborum itaque cumque necessitatibus.
        </p>
        <div class="w-c-social-icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar-right">
    <div class="title-and-links">
      <p class="links-title">Related Industries</p>
      <div class="styled-links-container">
        <a routerLink="/industries/public-sector">Public Sector</a>
        <a routerLink="/industries/retail">Retail</a>
        <a routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLink="/industries/textile-&-apparel">Textile & Apparel</a>
        <a routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLink="/industries/banking">Banking</a>
        <a routerLink="/industries/insurance">Insurance</a>
        <a routerLink="/industries/education">Education</a>
        <a routerLink="/industries/energy-&-utilities">Energy & Utilities</a>
        <a routerLink="/industries/telecom">Telecom</a>
        <a routerLink="/industries/logistics-&-transportation">Logistics & Transportation</a>
        <a routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>
</div>

<!-- Related Posts Area -->
<div class="posts-area-grid">
  <div class="post-item-1"></div>
  <div class="post-item-2">
    <div class="pi-top">
      <p>Related Posts</p>
      <div>
        <!-- Div created for double lines -->
      </div>
    </div>
    <div class="post-grid">
      <div class="card-item-1">
        <img class="post-image" src="../../assets/images/bg1.jpg" alt="" />
        <h3 class="post-title">Microsoft azure, business cloud partner</h3>
        <p class="post-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit...
        </p>
      </div>

      <div class="card-item-2">
        <img class="post-image" src="../../assets/images/bg1.jpg" alt="" />
        <h3 class="post-title">Study the new digital course developed</h3>
        <p class="post-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit...
        </p>
      </div>

      <div class="card-item-3">
        <img class="post-image" src="../../assets/images/bg1.jpg" alt="" />
        <h3 class="post-title">Creative project managment training</h3>
        <p class="post-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit...
        </p>
      </div>
    </div>
  </div>
  <div class="post-item-3"></div>
</div>
