<div class="top-section">
  <img src="../../../../assets/top-bar-icons/office 365.png" alt="" />
  <h1>Microsoft Office 365</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Solutions</p>
      <div class="links-container">
        <a routerLink="/solutions/dynamics-365" routerLinkActive="active-link"
          >Microsoft Dynamics 365</a
        >
        <a routerLink="/solutions/dynamics-gp" routerLinkActive="active-link"
          >Microsoft Dynamics GP</a
        >
        <a routerLink="/solutions/dynamics-ax" routerLinkActive="active-link"
          >Microsoft Dynamics AX</a
        >
        <a routerLink="/solutions/dynamics-crm" routerLinkActive="active-link"
          >Microsoft Dynamics CRM</a
        >
        <a routerLink="/solutions/dynamics-nav" routerLinkActive="active-link"
          >Microsoft Dynamics NAV</a
        >
        <a routerLink="/solutions/azure" routerLinkActive="active-link">Microsoft Azure</a>
        <a routerLink="/solutions/office-365" routerLinkActive="active-link"
          >Microsoft Office 365</a
        >
        <a routerLink="/solutions/business-central" routerLinkActive="active-link"
          >Microsoft Dynamics 365 <br />
          Business Central</a
        >
        <a routerLink="/solutions/sharepoint" routerLinkActive="active-link"
          >Microsoft SharePoint</a
        >
        <a routerLink="/solutions/quickbooks" routerLinkActive="active-link">Quick Books</a>
        <a routerLink="/solutions/peachtree-accounting" routerLinkActive="active-link"
          >Peachtree Accounting</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="innovative-solution">
        <h5>A complete innovative, smart, intelligent and secure solution</h5>
        <img src="../../../../assets/images/Office-365-in-Pakistan-TMRC.jpg" />
        <p>
          Microsoft Office 365 in Pakistan helps you to grow your business and achieve more through
          the use of several apps and services at one place.
        </p>
        <p>
          Office 365 concatenates the best tools to present the cloud-based subscription to firms.
          Therefore, combines the cloud-based remote computing software with the firm’s on-premise
          software. Also, facilitate internet users to share anything with anyone and at any time by
          providing support for multiple devices. Hence, a complete appropriate package for small
          businesses, enterprises, and firms.
        </p>
      </div>

      <div class="div-content-part" name="why-office-365">
        <h5>Why Choose Microsoft Office 365?</h5>
        <img src="../../../../assets/images/Office-365-in-Pakistan.png" alt="" />

        <h6 class="heading-doublelines">Innovative</h6>
        <p>
          Microsoft Office 365 in Pakistan is offering a robust solution to work in collaboration
          and to boost productivity by empowering the employees to work creatively. Hence, it
          promotes creative collaboration across the whole firm.
        </p>

        <h6 class="heading-doublelines">Intelligent</h6>
        <p>
          Provides enough space in the cloud to manage files of a large size. Users have
          intelligently quick access to all the stored files as it offers centralized workspace.
          Surely manage your portfolio for all Android and iOS devices.
        </p>

        <h6 class="heading-doublelines">Smart</h6>
        <p>
          Do smart work with Microsoft Office 365 in Pakistan to progress your firm as it offers
          automated applications like word processor, email client, and cloud storage. Therefore,
          this smart solution will enable you to build brand recognition and market your business on
          a large scale.
        </p>

        <h6 class="heading-doublelines">Secure</h6>
        <p>
          Microsoft Office 365 in Pakistan is the only option that provides you trust completely as
          it provides facility to manage risks in real-time. Also provides information and threat
          protection for all apps, devices, and data because it controls all in the cloud, hybrid or
          on-premise server.
        </p>
      </div>

      <div class="div-content-part" name="applications">
        <h5>Office 365 Applications</h5>

        <h6 class="heading-doublelines">Outlook</h6>
        <p>
          Under the secure work environment, organize the work schedule for firms by connecting the
          teams and customers through Email, Calendar, and Contacts. Further, intelligent reminders
          will keep you updated to manage your workflow.
        </p>

        <h6 class="heading-doublelines">PowerPoint</h6>
        <p>
          Build an attractive presentation using animations, 3D icons, and cinematic motion. Explain
          your business ideas to your employees through slide-by-slide notes. Further, an accessible
          presentation adds value for your firm as team members will be able to access at any time
          with the option of comments.
        </p>

        <h6 class="heading-doublelines">OneDrive</h6>
        <p>
          An opportunity for the firm to create a network of the team to build strong communication
          among the team as team members will be able to access and share all files globally. Also,
          manage overall communication with security and responsiveness.
        </p>

        <h6 class="heading-doublelines">OneNote</h6>
        <p>
          Prepare your organized digital notes to use it at a later time. A complete favorable tool
          to share your ideas, plans, and thoughts with your team members. Hence improve the
          coordination and collaboration among team members.
        </p>

        <h6 class="heading-doublelines">Word</h6>
        <p>
          Make your work error free with Microsoft Word as it offers an opportunity to eliminate the
          grammar and spelling mistakes. Furthermore, do work with confidence by adopting trendy
          words suggestions. Share documents with the team members. Hence, do work in a secure and
          reliable work environment.
        </p>

        <h6 class="heading-doublelines">SharePoint</h6>
        <p>
          Improve team management through SharePoint. SharePoint of Microsoft Office 365 in Pakistan
          provides a wide-ranging opportunity to manage teamwork. So team members can share content
          and knowledge to deliver the up to date information about the ongoing projects with all
          members.
        </p>

        <h6 class="heading-doublelines">Excel</h6>
        <p>
          Enhance your data through smart work of Microsoft Excel. You will be able to edit Excel
          documents from multiple devices. Also, it allows you to manage complex calculations of
          data by applying modern formulae. Plus, present data in charts and graphs. Therefore, do
          future forecasting for the growth of the firm.
        </p>

        <h6 class="heading-doublelines">Microsoft Teams</h6>
        <p>
          Collaborate your teamwork with Microsoft Teams. Provide a complete environment for teams
          to manage chat, online meetings, and web conferences. Also, Teams share files and organize
          leadings with the availability of Word, Excel, PowerPoint, OneNote, SharePoint, and Power
          BI. Improve the productivity of the firm through better teamwork.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/solutions/office-365#innovative-solution">A complete innovative solution</a>
        <a href="/solutions/office-365#why-office-365">Why choose Microsoft office 365?</a>
        <a href="/solutions/office-365#applications">Office 365 Applications</a>
      </div>
    </div>
  </div>
</div>
