<!-- <div class="content-area">
  <div class="top-section">
    <h1>Microsoft Dynamics 365 Business Central</h1>
  </div>
  <div class="content">
    <div class="similar-div">
      <div class="div-content-part" name="accessible-secure-solution">
        <h5>An Accessible, Secure, Customizable, and Flexible solution</h5>
        <img
          src="../../../../assets/images/Dynamics-365-Business-Central-in-Pakistan-768x351.png"
        />
        <p>
          Dynamics 365 Business Central in Pakistan is a cloud-based business management solution
          that is easy and adaptable.
        </p>
        <p>
          Offers wide-ranging connectivity among various Microsoft applications to opt smarter
          decision for the smooth business operations under one umbrella. Ensure leading results for
          the growth of business by eliminating limitations of accounting software.
        </p>
      </div>

      <div class="div-content-part" name="why-business-central">
        <h5>Why Choose Business Central?</h5>
        <h6 class="heading-doublelines">Accessible</h6>
        <p>
          Integration of cloud technology provides access to valid information from anywhere and
          anytime to manage important business tasks.
        </p>

        <h6 class="heading-doublelines">Customizable</h6>
        <p>
          With the continuous transition in business environment, meet your business needs through
          customization.
        </p>

        <h6 class="heading-doublelines">Secure</h6>
        <p>
          Protect private and personal data from unauthorized access through automatic data
          encryption.
        </p>

        <h6 class="heading-doublelines">Flexible</h6>
        <p>
          Manage vital needs, requirements, and demands with adaptation of inventive solutions to
          extend the business applications.
        </p>
      </div>

      <div class="div-content-part" name="business-central-modules">
        <h5>Business Central Modules</h5>

        <h6 class="heading-doublelines">Finance Tracking</h6>
        <p>
          Generate financial reports with full accuracy and give amazing financial growth to the
          business.
        </p>

        <h6 class="heading-doublelines">Supply Chain Control</h6>
        <p>
          Properly handles the purchasing processes to enhance the clarity of supply chain for
          firms.
        </p>

        <h6 class="heading-doublelines">Enriched Customer Services</h6>
        <p>
          Built-in recommendations ensure customer satisfaction and boost the revenue of firms to
          large extent.
        </p>

        <h6 class="heading-doublelines">Succeed operations and projects within budget</h6>
        <p>
          Organize manufacturing and warehousing operations of firms during projects under the
          anticipated budget and resources.
        </p>
      </div>
    </div>
  </div>
  <div class="content-links">
    <div class="cl-links-container">
      <a href="/solutions/business-central#accessible-secure-solution"
        >An accessible & secure solution</a
      >
      <a href="/solutions/business-central#why-business-central">Why choose business central?</a>
      <a href="/solutions/business-central#business-central-modules">Business central modules</a>
    </div>
  </div>
</div> -->

<!-- 
  .
  .
  .
  .
 -->

<div class="top-section">
  <img src="../../../../assets/top-bar-icons/project-management.png" alt="" />
  <h1>Microsoft Dynamics 365 Business Central</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Solutions</p>
      <div class="links-container">
        <a routerLink="/solutions/dynamics-365" routerLinkActive="active-link"
          >Microsoft Dynamics 365</a
        >
        <a routerLink="/solutions/dynamics-gp" routerLinkActive="active-link"
          >Microsoft Dynamics GP</a
        >
        <a routerLink="/solutions/dynamics-ax" routerLinkActive="active-link"
          >Microsoft Dynamics AX</a
        >
        <a routerLink="/solutions/dynamics-crm" routerLinkActive="active-link"
          >Microsoft Dynamics CRM</a
        >
        <a routerLink="/solutions/dynamics-nav" routerLinkActive="active-link"
          >Microsoft Dynamics NAV</a
        >
        <a routerLink="/solutions/azure" routerLinkActive="active-link">Microsoft Azure</a>
        <a routerLink="/solutions/office-365" routerLinkActive="active-link"
          >Microsoft Office 365</a
        >
        <a routerLink="/solutions/business-central" routerLinkActive="active-link"
          >Microsoft Dynamics 365 <br />
          Business Central</a
        >
        <a routerLink="/solutions/sharepoint" routerLinkActive="active-link"
          >Microsoft SharePoint</a
        >
        <a routerLink="/solutions/quickbooks" routerLinkActive="active-link">Quick Books</a>
        <a routerLink="/solutions/peachtree-accounting" routerLinkActive="active-link"
          >Peachtree Accounting</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="accessible-secure-solution">
        <h5>An Accessible, Secure, Customizable, and Flexible solution</h5>
        <img
          src="../../../../assets/images/Dynamics-365-Business-Central-in-Pakistan-768x351.png"
        />
        <p>
          Dynamics 365 Business Central in Pakistan is a cloud-based business management solution
          that is easy and adaptable.
        </p>
        <p>
          Offers wide-ranging connectivity among various Microsoft applications to opt smarter
          decision for the smooth business operations under one umbrella. Ensure leading results for
          the growth of business by eliminating limitations of accounting software.
        </p>
      </div>

      <div class="div-content-part" name="why-business-central">
        <h5>Why Choose Business Central?</h5>
        <h6 class="heading-doublelines">Accessible</h6>
        <p>
          Integration of cloud technology provides access to valid information from anywhere and
          anytime to manage important business tasks.
        </p>

        <h6 class="heading-doublelines">Customizable</h6>
        <p>
          With the continuous transition in business environment, meet your business needs through
          customization.
        </p>

        <h6 class="heading-doublelines">Secure</h6>
        <p>
          Protect private and personal data from unauthorized access through automatic data
          encryption.
        </p>

        <h6 class="heading-doublelines">Flexible</h6>
        <p>
          Manage vital needs, requirements, and demands with adaptation of inventive solutions to
          extend the business applications.
        </p>
      </div>

      <div class="div-content-part" name="business-central-modules">
        <h5>Business Central Modules</h5>

        <h6 class="heading-doublelines">Finance Tracking</h6>
        <p>
          Generate financial reports with full accuracy and give amazing financial growth to the
          business.
        </p>

        <h6 class="heading-doublelines">Supply Chain Control</h6>
        <p>
          Properly handles the purchasing processes to enhance the clarity of supply chain for
          firms.
        </p>

        <h6 class="heading-doublelines">Enriched Customer Services</h6>
        <p>
          Built-in recommendations ensure customer satisfaction and boost the revenue of firms to
          large extent.
        </p>

        <h6 class="heading-doublelines">Succeed operations and projects within budget</h6>
        <p>
          Organize manufacturing and warehousing operations of firms during projects under the
          anticipated budget and resources.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/solutions/business-central#accessible-secure-solution"
          >An accessible & secure solution</a
        >
        <a href="/solutions/business-central#why-business-central">Why choose business central?</a>
        <a href="/solutions/business-central#business-central-modules">Business central modules</a>
      </div>
    </div>
  </div>
</div>
