<!-- <div class="content-area">
  <div class="top-section">
    <h1>Education</h1>
  </div>
  <div class="content">
    <h2 name="education-sector">Microsoft Dynamics for Education Sector</h2>
    <p>
      We know the diverse stakeholders and huge data management requirements around ERP for
      educational organizations. Our understanding of challenges confronted by higher education
      staff joined with our skills in Microsoft Dynamics for Education Sector has led to numerous
      successful upgrades, implementations, integrations and also configurations within schooling
      organizations.
    </p>
    <p>
      Microsoft Dynamics GP is a strong, and also feature-rich system to help colleges, universities
      and educational organizations in these ways:
    </p>
    <div class="fancy">
      <ul>
        <li>Grant Tracking</li>
        <li>Financial Analytics and Reporting</li>
        <li>Fund Tracking</li>
        <li>Managing student Payables and Refunds</li>
        <li>Budgeting</li>
        <li>Monthly, Yearly or Quarterly Reporting</li>
        <li>Multiple Check Processing</li>
        <li>Applicant Tracking</li>
        <li>
          Combine your financials with admissions, billing, student registration, school funding,
          and college student services with smooth integration to key schooling software, like
          Microsoft Dynamics for education sector from TMRC.
        </li>
        <li>Information throughout the business and across campuses</li>
        <li>Better services for staff and faculty</li>
      </ul>
    </div>
    <p>
      So if you’re seeking to combine your fiscal management system with your information of
      students, we have experience integrating Microsoft Dynamics GP for your organization. This
      securely integrated solution offers an enterprise resource planning (ERP) solution that raises
      campus-wide productivity, easy to learn and manage, and unlike other ERP alternatives, can be
      carried out in couple of months rather years.
    </p>

    <h2 name="why-tmrc">Why TMRC</h2>
    <p>
      We at TMRC understand how to utilize our different services, resources and also expertise in a
      combined and best way possible according to your business needs. We take holistic approach for
      the growth of your business and create an overall synergistic effect.
    </p>
  </div>
  <div class="content-links">
    <div class="cl-links-container">
      <a class="side-link-selected" href="/industries/education#education-sector"
        >Microsoft Dynamics for Education Sector</a
      >
      <a href="/industries/education#why-tmrc">Why TMRC</a>
    </div>
  </div>
</div> -->

<!-- ... -->

<div class="top-section">
  <img src="../../../../assets/top-bar-icons/education.png" alt="" />
  <h1>Educations</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="education-sector">Microsoft Dynamics for Education Sector</h5>

    <div class="similar-div">
      <div class="div-content-part">
        <p>
          We know the diverse stakeholders and huge data management requirements around ERP for
          educational organizations. Our understanding of challenges confronted by higher education
          staff joined with our skills in Microsoft Dynamics for Education Sector has led to
          numerous successful upgrades, implementations, integrations and also configurations within
          schooling organizations.
        </p>
      </div>
      <div class="div-content-part">
        <p>
          Microsoft Dynamics GP is a strong, and also feature-rich system to help colleges,
          universities and educational organizations in these ways:
        </p>
        <div class="fancy">
          <ul>
            <li>Grant Tracking</li>
            <li>Financial Analytics and Reporting</li>
            <li>Fund Tracking</li>
            <li>Managing student Payables and Refunds</li>
            <li>Budgeting</li>
            <li>Monthly, Yearly or Quarterly Reporting</li>
            <li>Multiple Check Processing</li>
            <li>Applicant Tracking</li>
            <li>
              Combine your financials with admissions, billing, student registration, school
              funding, and college student services with smooth integration to key schooling
              software, like Microsoft Dynamics for education sector from TMRC.
            </li>
            <li>Information throughout the business and across campuses</li>
            <li>Better services for staff and faculty</li>
          </ul>
        </div>
        <p>
          So if you’re seeking to combine your fiscal management system with your information of
          students, we have experience integrating Microsoft Dynamics GP for your organization. This
          securely integrated solution offers an enterprise resource planning (ERP) solution that
          raises campus-wide productivity, easy to learn and manage, and unlike other ERP
          alternatives, can be carried out in couple of months rather years.
        </p>
      </div>

      <div class="div-content-part">
        <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
        <p>
          We at TMRC understand how to utilize our different services, resources and also expertise
          in a combined and best way possible according to your business needs. We take holistic
          approach for the growth of your business and create an overall synergistic effect.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a class="side-link-selected" href="/industries/education#education-sector"
          >Microsoft Dynamics for Education Sector</a
        >
        <a href="/industries/education#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
