<div class="top-section">
  <img src="../../../../assets/top-bar-icons/firewall.png" alt="" />
  <h1>InfraStructure & EndPoint Managment</h1>
</div>

<div class="grid-container">
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Services</p>
      <div class="links-container">
        <a routerLink="/services/business-solution" routerLinkActive="active-link"
          >Business Solutions</a
        >
        <a routerLink="/services/infrastructure-&-endpoint/" routerLinkActive="active-link"
          >InfraStructure & EndPoint Managment</a
        >
        <a routerLink="/services/business-intelligence" routerLinkActive="active-link"
          >Business Intelligence & Reporting</a
        >
        <a routerLink="/services/customization-&-dev" routerLinkActive="active-link"
          >Customization & Development</a
        >
      </div>
    </div>
  </div>

  <div class="content-part">
    <router-outlet></router-outlet>
    <!-- <p>
      We keep it core at our heart as we believe an underlying infrastructure is the base of the
      performance the compute offers. However, when it comes to deploy an Architecture there are
      lots of issues to be considered depending upon your Requirements.
    </p>
    <p>
      We at TMR Consult Makes sure your strategy the infrastructure and endpoint management are well
      defined before we implement.
    </p>

    <p class="fancy-paragraph">
      TMR Consult is a Tier 1 CSP Provider for MEA Region!
    </p>

    <p>
      With the advancement of technology, we Provide full range of infrastructure services including
      compute and Storage options as well as a Stand-By Datacenter for you Disaster Recovery Needs
      or to have new site on cloud.
    </p>
    <p>
      We recommend you to have a look to check out related options on the upper right section of
      this page or You can contact us we will be at your service happily.
    </p>

    <div class="tags-div">
      <a>Business</a>
      <a>Design</a>
      <a>Development</a>
    </div>

    <div class="writer-grid">
      <div class="writer-item-1">
        <img
          src="../../assets/images/person.jpg"
          class="rounded-circle"
          width="150"
          height="150"
          alt=""
        />
      </div>
      <div class="writer-item-2">
        <h3>Muhammad Mazhar Javed</h3>
        <p>
          The article was written by &Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Laborum itaque cumque necessitatibus.
        </p>
        <div class="w-c-social-icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div> -->
  </div>

  <div class="sidebar-right">
    <div class="title-and-links">
      <p class="links-title">Related Solutions</p>
      <div class="styled-links-container">
        <a
          routerLink="/services/infrastructure-&-endpoint/infrastructure"
          routerLinkActive="active-side-link"
          >InfraStructure</a
        >
        <a
          routerLink="/services/infrastructure-&-endpoint/compute"
          routerLinkActive="active-side-link"
          >Compute</a
        >
        <a
          routerLink="/services/infrastructure-&-endpoint/storage"
          routerLinkActive="active-side-link"
          >Storage</a
        >
      </div>
    </div>
  </div>
</div>

<!-- Related Posts Area -->
<div class="posts-area-grid">
  <div class="post-item-1"></div>
  <div class="post-item-2">
    <div class="pi-top">
      <p>Related Posts</p>
      <div>
        <!-- Div created for double lines -->
      </div>
    </div>
    <div class="post-grid">
      <div class="card-item-1">
        <img class="post-image" src="../../assets/images/bg1.jpg" alt="" />
        <h3 class="post-title">Microsoft azure, business cloud partner</h3>
        <p class="post-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit...
        </p>
      </div>

      <div class="card-item-2">
        <img class="post-image" src="../../assets/images/bg1.jpg" alt="" />
        <h3 class="post-title">Study the new digital course developed</h3>
        <p class="post-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit...
        </p>
      </div>

      <div class="card-item-3">
        <img class="post-image" src="../../assets/images/bg1.jpg" alt="" />
        <h3 class="post-title">Creative project managment training</h3>
        <p class="post-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit...
        </p>
      </div>
    </div>
  </div>
  <div class="post-item-3"></div>
</div>
