<div class="top-section">
  <img src="../../../../assets/top-bar-icons/share point.png" alt="" />
  <h1>Microsoft SharePoint</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Solutions</p>
      <div class="links-container">
        <a routerLink="/solutions/dynamics-365" routerLinkActive="active-link"
          >Microsoft Dynamics 365</a
        >
        <a routerLink="/solutions/dynamics-gp" routerLinkActive="active-link"
          >Microsoft Dynamics GP</a
        >
        <a routerLink="/solutions/dynamics-ax" routerLinkActive="active-link"
          >Microsoft Dynamics AX</a
        >
        <a routerLink="/solutions/dynamics-crm" routerLinkActive="active-link"
          >Microsoft Dynamics CRM</a
        >
        <a routerLink="/solutions/dynamics-nav" routerLinkActive="active-link"
          >Microsoft Dynamics NAV</a
        >
        <a routerLink="/solutions/azure" routerLinkActive="active-link">Microsoft Azure</a>
        <a routerLink="/solutions/office-365" routerLinkActive="active-link"
          >Microsoft Office 365</a
        >
        <a routerLink="/solutions/business-central" routerLinkActive="active-link"
          >Microsoft Dynamics 365 <br />
          Business Central</a
        >
        <a routerLink="/solutions/sharepoint" routerLinkActive="active-link"
          >Microsoft SharePoint</a
        >
        <a routerLink="/solutions/quickbooks" routerLinkActive="active-link">Quick Books</a>
        <a routerLink="/solutions/peachtree-accounting" routerLinkActive="active-link"
          >Peachtree Accounting</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="collaborative-solution">
        <h5>A Collaborative, Productive, Intelligent and Custom Solution</h5>
        <img src="../../../../assets/images/MS-SharePoint-in-Pakistan-TMRC.jpg" />
        <p>
          Microsoft SharePoint in Pakistan, allow cooperation among the team for rapid discovery of
          innovative data and information. Also, share the knowledge with team members to maintain
          flawless collaboration over the whole firm.
        </p>
      </div>

      <div class="div-content-part" name="why-sharepoint">
        <h5>Why Choose Microsoft SharePoint?</h5>
        <img src="../../../../assets/images/Microsoft-SharePoint-TMRC-1-300x300.png" />
        <h6 class="heading-doublelines">Build easy and consistent collaboration</h6>
        <p>
          SharePoint allows you to make customization of your site to streamline the consistent
          collaboration among the team. Moreover, for every project, team members can easily share
          files, news, resources and important data through dynamic and creative team sites.
          Therefore, within the firm or outside the firm, do collaboration securely and uniformly
          with team members using smartphones, PCs, and Macs.
        </p>

        <h6 class="heading-doublelines">Maintain crucial information at one place</h6>
        <p>
          Amplify the knowledge of your firm’s employees through rich content management system of
          SharePoint. Also, manage connections and conversations with your employees through
          powerful and intelligent solutions. Moreover, make decisions according to the valuable
          information and give directions for actions.
        </p>

        <h6 class="heading-doublelines">Involve employees and update your firm</h6>
        <p>
          With MS SharePoint in Pakistan, you can handle your employees by giving them updates
          through the intranet of your firm. Further, confer all information in a smooth flow on
          communication sites. Hence, boost the productivity of your firm by sharing resources over
          the portal of SharePoint.
        </p>

        <h6 class="heading-doublelines">Digitally transform business processes</h6>
        <p>
          Transform your business to manage complex operations and notices. Also, organize, create
          and explore your digital experience by using forms, workflows, and custom apps of
          SharePoint libraries, Microsoft Flow, and PowerApps.
        </p>
      </div>

      <div class="div-content-part" name="sharepoint-components">
        <h5>Microsoft SharePoint Components</h5>

        <h6 class="heading-doublelines">SharePoint Server</h6>
        <p>
          Can be found in Enterprise and Standard edition for both internet and intranet sites
          offering industrial-grade communication, collaboration, and content management.
        </p>

        <h6 class="heading-doublelines">Business Connectivity Services</h6>
        <p>
          Users can directly access the data from the SharePoint to get the details as Business
          Connectivity Services is connected to Line of Business systems.
        </p>

        <h6 class="heading-doublelines">Blogs</h6>
        <p>
          Employees of the firm write a blog to make it accessible for the whole firm. Further, all
          others can participate in a discussion of the blog post entry to make communication
          effective.
        </p>

        <h6 class="heading-doublelines">SharePoint Foundation</h6>
        <p>
          Part of the Windows Operating System permits communication, collaboration, and content
          management.
        </p>

        <h6 class="heading-doublelines">Sites</h6>
        <p>
          SharePoint Sites contains Document Libraries, Lists, Wikis, Blogs, and Discussion Boards.
          All are compatible with content-management.
        </p>

        <h6 class="heading-doublelines">Discussion Boards</h6>
        <p>
          Provides a portal for online discussion to a firm. So the members of the firm can post
          questions and receive the replies.
        </p>

        <h6 class="heading-doublelines">Key Performance Indicator</h6>
        <p>
          Presents instant visualization of business information to measure the growth of the firm
          and can be entrenched in Share Point Websites.
        </p>

        <h6 class="heading-doublelines">Lists</h6>
        <p>
          Lists available in SharePoint manage the data in rows and columns to access the data at a
          later time.
        </p>

        <h6 class="heading-doublelines">Report Builder</h6>
        <p>
          A useful end-user tool designed to develop SQL Server Reporting Services (SSRS) reports
          according to the user’s requirements.
        </p>

        <h6 class="heading-doublelines">InfoPath from Services</h6>
        <p>
          InfoPath forms can be integrated into SharePoint Web Site.
        </p>

        <h6 class="heading-doublelines">Document Libraries</h6>
        <p>
          Users are able to store content in SharePoint through Document Libraries.
        </p>

        <h6 class="heading-doublelines">PerformancePoint</h6>
        <p>
          Offers the ability to build advanced scorecards, dashboards, and reports.
        </p>

        <h6 class="heading-doublelines">Excel Services</h6>
        <p>
          Excel document can be embedded into SharePoint Web Site.
        </p>

        <h6 class="heading-doublelines">Wikis</h6>
        <p>
          Wikis give chance to community members to update the content consistently.
        </p>

        <h6 class="heading-doublelines">Dashboard Designer</h6>
        <p>
          Effective end user tool to create PerformancePoint Content.
        </p>

        <h6 class="heading-doublelines">SQL Server Reporting Services</h6>
        <p>
          Works with SharePoint environment to manage the SSRS reports in SharePoint.
        </p>

        <h6 class="heading-doublelines">Scorecard</h6>
        <p>
          Offers graphs, charts, numbers and visualization tools to keep the track of targeted
          goals.
        </p>

        <h6 class="heading-doublelines">Dashboard</h6>
        <p>
          Presents the status of key information on the basis of individual tasks.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/solutions/sharepoint#collaborative-solution"
          >A collaboration & productive solution</a
        >
        <a href="/solutions/sharepoint#why-sharepoint">Why choose Microsoft Sharepoint?</a>
        <a href="/solutions/sharepoint#sharepoint-components">Microsoft Sharepoint Components</a>
      </div>
    </div>
  </div>
</div>
