<div class="top-section">
  <img src="../../../../assets/top-bar-icons/company-profile.png" alt="" />
  <h1>Company's Profile</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">About Us</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/about-us/contact">Contact</a>
        <a routerLinkActive="active-link" routerLink="/about-us/company-profile"
          >Company's Profile</a
        >
        <a routerLinkActive="active-link" routerLink="/about-us/erp-pakistan">ERP in Pakistan</a>
        <a routerLinkActive="active-link" routerLink="/about-us/dynamics-demo-request"
          >Microsoft Dynamics Demo Request</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 class="heading-doublelines" name="introduction">Introduction</h5>
    <p>
      TMR Consulting (Pvt.) Limited is a company registered under Companies Ordinance 1984 and
      official Tier 1 Microsoft Partners in Pakistan. It was established in 1998 to help its valued
      clients in business automation, ERP implementation, Financial Management Systems, Business
      Intelligence, Human Resource and Trainings. TMRC is a Microsoft CSP partner in Pakistan and
      value added reseller. Over the period, TMRC has emerged as a leading organization providing
      valuable services to the diversed clientele including manufacturing, service, trading,
      Government and Not-for-Profit Organizations.
    </p>
    <p>
      TMRC is an associated company of Tariq Mian Ramzan Arshad & Co. Key elements of services cover
      business advisory, management consulting, technology solutions, capacity building and finance.
      We believe in knowledge sharing and performance enhancement of the clients. What sets us apart
      from our competitor Microsoft Partners in Pakistan is the personalized service of ERP in
      Pakistan and close liaison with the clients to understand their needs and offer solutions
      matching those needs.
    </p>
    <p>
      Being partner with Microsoft benefits our company to build connection and provide demos with
      the existing and new customers with the internal use of software. Develop user technical and
      online training skills. TMRC is an IT based company which provide specialized services to
      clients regarding ERP selection, design and training, Financial management and consulting
      management. Being partner with Microsoft provides, we help you to lead a successful business.
      By using these softwares we increase your business potency by providing customizable
      software’s and by providing technical skills. We provide package solutions for tiny to middle
      size organization. TMR Consulting offers qualified expertise with Microsoft’s premier business
      software solutions including; Microsoft Dynamics GP, Microsoft Dynamics 365, Microsoft
      Dynamics CRM. Microsoft SharePoint, Microsoft Office 365 and Microsoft Azure. TMR Consulting
      is a Microsoft partner in Pakistan having competencies in Cloud Platform, Collaboration and
      Content, Customer Relationship Management, Enterprise Resource Planning, as well as Midmarket
      Solution Provider. Our consultants are among the most experienced in the marketplace and our
      unique blend of technical and business transformation services offers you a fresh choice with
      an organization with demonstrated success.
    </p>
    <p>
      TMR Consulting has extensive experience consulting, integrating, implementing, and supporting
      Microsoft applications and associated services for both the applications and the underlying
      technologies. Our long standing Microsoft partnership provides customers with the business
      process capabilities, industry experience, and solution and market expertise required to
      seamlessly deploy on-premise, hybrid and cloud based Microsoft solutions that maximize your
      business functionality and rapidly achieve ROI.
    </p>

    <h5 class="heading-doublelines" name="services">Specialized Services</h5>
    <div class="fancy">
      <ul>
        <li>ERP selection, design and implementation</li>
        <li>Formulation of IT Strategy</li>
        <li>Recommendation of Operating Systems, Hardware and Software</li>
        <li>Development of Web Applications and Solutions</li>
        <li>Development of Business Applications</li>
        <li>Business Planning and Feasibility Studies</li>
        <li>Financial Management</li>
        <li>Management Consulting</li>
      </ul>
    </div>

    <h5 class="heading-doublelines" name="our-people">Our People</h5>
    <p>
      Our consulting team of ERP in Pakistan represents qualified and experienced consultants and
      professionals from business, finance, technology, human capital experts, economists and
      Engineers with diverse backgrounds. We maintain our quality services which include:
    </p>
    <div class="fancy">
      <ul>
        <li>Business Graduates</li>
        <li>Management Accountants</li>
        <li>Web Developers</li>
        <li>Applications Developers</li>
        <li>Technology Consultants</li>
        <li>Business Experts</li>
        <li>Certified Trainers</li>
        <li>Support Staff</li>
      </ul>
    </div>

    <h5 class="heading-doublelines" name="affiliation">Affiliations</h5>
    <div class="fancy">
      <ul>
        <li>
          Microsoft Certified Partners and Value-added Resellers for Microsoft Dynamics and ERP in
          Pakistans
        </li>
        <li>Microsoft CSP Partners in Pakistan</li>
        <li>SAGE</li>
        <li>Pakistan Software Export Board</li>
        <li>SME Business Support Fund (BSF)</li>
        <li>Pakistan Software House Association (PASHA)</li>
        <li>Pakistan Telecommunication Authority</li>
        <li>Small and Medium enterprise Development Authority (SMEDA)</li>
        <li>Agri-Business Support Fund (ASF)</li>
        <li>Microsoft Dynamics AX Partners in Pakistan</li>
        <li>Microsoft Dynamics GP Partners in Pakistan</li>
      </ul>
    </div>

    <h5 class="heading-doublelines" name="microsoft-partners">
      Our Presence as Microsoft Partners in Pakistan
    </h5>
    <div class="fancy">
      <ul>
        <li>Head Office in Islamabad, Pakistan</li>
        <li>
          Branch Offices at
          <ul>
            <li>Karachi</li>
            <li>Lahore</li>
            <li>Dubai</li>
          </ul>
        </li>
        <li>Liaison Offices in UK</li>
      </ul>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/about-us/company-profile#introduction">Introduction</a>
        <a href="/about-us/company-profile#services">Specialized Services</a>
        <a href="/about-us/company-profile#our-people">Our People</a>
        <a href="/about-us/company-profile#affiliation">Affiliations</a>
        <a href="/about-us/company-profile#microsoft-partners"
          >Our Presence as Microsoft Partners in Pakistan</a
        >
      </div>
    </div>
  </div>
</div>
