<!-- <div class="content-area">
  <div class="top-section">
    <h1>Chemical</h1>
  </div>
  <div class="content">
    <h2 name="chemical-industry">Microsoft Dynamics for Chemical Industry</h2>
    <p>
      The industry related to chemical manufacturing encounters many unique troubles and challenges.
      As government restrictions tighten and the expenses on supplies increase, the industry is also
      confronted with environmental concerns and volatile market segments. Since the challenges are
      obvious, and the opportunities have never been better for chemical manufacturing industry to
      implement the adaptable and powerful business technologies necessary for the future of this
      changing industry.
    </p>
    <p>
      So to be able to remain competitive within an industry, implementing an ERP system is key.
      Being Microsoft’s ERP partner, we at TMRC strive to provide chemical manufacturers with the
      best ERP like Microsoft Dynamics for chemical industry that aggressively get over traditional
      and also new industry issues including:
    </p>
    <div class="fancy">
      <ul>
        <li>Acquisition and expansion</li>
        <li>Business visibility</li>
        <li>Globalization</li>
        <li>Handling capital and equipment</li>
        <li>Inventory control and visibility</li>
        <li>Planning for plant capacity</li>
        <li>Scalability</li>
        <li>Managing quality</li>
        <li>
          Surging functional costs
        </li>
        <li>Cyber security risks</li>
        <li>Fluctuating source prices</li>
        <li>Inaccurate data and reporting challenges</li>
        <li>And many more…</li>
      </ul>
    </div>
    <p>
      Whether you have a big organization or a local business, a designed system like Microsoft
      Dynamics for chemical industry can be beneficial your business.
    </p>

    <h2 name="why-tmrc">Why TMRC</h2>
    <p>
      We at TMRC understand how to utilize our different services, resources and also expertise in a
      combined and best way possible according to your business needs. We take holistic approach for
      the growth of your business and create an overall synergistic effect.
    </p>
  </div>
  <div class="content-links">
    <div class="cl-links-container">
      <a class="side-link-selected" href="/industries/chemical#chemical-industry"
        >Microsoft Dynamics for Chemical Industry</a
      >
      <a href="/industries/chemical#why-tmrc">Why TMRC</a>
    </div>
  </div>
</div> -->

<!-- ... -->

<div class="top-section">
  <img src="../../../../assets/top-bar-icons/chemical-industry.png" alt="" />
  <h1>Chemical</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="chemical-industry">Microsoft Dynamics for Chemical Industry</h5>

    <div class="similar-div">
      <div class="div-content-part">
        <p>
          The industry related to chemical manufacturing encounters many unique troubles and
          challenges. As government restrictions tighten and the expenses on supplies increase, the
          industry is also confronted with environmental concerns and volatile market segments.
          Since the challenges are obvious, and the opportunities have never been better for
          chemical manufacturing industry to implement the adaptable and powerful business
          technologies necessary for the future of this changing industry.
        </p>
      </div>
      <div class="div-content-part">
        <p>
          So to be able to remain competitive within an industry, implementing an ERP system is key.
          Being Microsoft’s ERP partner, we at TMRC strive to provide chemical manufacturers with
          the best ERP like Microsoft Dynamics for chemical industry that aggressively get over
          traditional and also new industry issues including:
        </p>
        <div class="fancy">
          <ul>
            <li>Acquisition and expansion</li>
            <li>Business visibility</li>
            <li>Globalization</li>
            <li>Handling capital and equipment</li>
            <li>Inventory control and visibility</li>
            <li>Planning for plant capacity</li>
            <li>Scalability</li>
            <li>Managing quality</li>
            <li>
              Surging functional costs
            </li>
            <li>Cyber security risks</li>
            <li>Fluctuating source prices</li>
            <li>Inaccurate data and reporting challenges</li>
            <li>And many more…</li>
          </ul>
        </div>
        <p>
          Whether you have a big organization or a local business, a designed system like Microsoft
          Dynamics for chemical industry can be beneficial your business.
        </p>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
        <p>
          We at TMRC understand how to utilize our different services, resources and also expertise
          in a combined and best way possible according to your business needs. We take holistic
          approach for the growth of your business and create an overall synergistic effect.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a class="side-link-selected" href="/industries/chemical#chemical-industry"
          >Microsoft Dynamics for Chemical Industry</a
        >
        <a href="/industries/chemical#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
