<!-- Footer -->
<div class="footer">
  <div class="solutions">
    <p>Solutions</p>
    <a href="">Dynamics 365</a>
    <a href="">Dynamics GP</a>
    <a href="">Dynamics AX</a>
    <a href="">Dynamics NAV</a>
    <a href="">Microsoft Azure</a>
    <a href="">Office 365</a>
    <a href=""
      >Dynamics 365 Business <br />
      Central</a
    >
    <a href="">Microsoft Sharepoint</a>
  </div>
  <div class="services">
    <p>Services</p>
    <a href="">Business Solutions</a>
    <a href="">Infrastructure & endpoint Managment</a>
    <a href="">Business Intelligence & Reporting</a>
    <a href="">Customization & Development</a>
  </div>
  <div class="industries">
    <p>Industries</p>
    <a href="">Retail</a>
    <a href="">Public Sector</a>
    <a href="">Consumer Goods</a>
    <a href="">Textile & Apparel</a>
    <a href="">Pharmaceutical</a>
    <a href="">Banking</a>
    <a href="">Insurance</a>
    <a href="">Education</a>
    <a href="">Energy & Utilities</a>
  </div>
  <div class="aboutus">
    <p>About us</p>
    <a href="">Contact</a>
    <a href="">Company's Profile</a>
    <a href="">Demo Request</a>
  </div>
  <div class="remaining">
    <div class="social-icons">
      <a href=""><img src="../../../../assets/social-icons/facebook.png" alt=""/></a>
      <a href=""><img src="../../../../assets/social-icons/linkedin.png" alt=""/></a>
      <a href=""><img src="../../../../assets/social-icons/twitter.png" alt=""/></a>
    </div>
    <img class="ms-partner-img" src="../../../../assets/images/mbs parner2.png" alt="" />
  </div>
  <div class="copy-rights">
    <p>
      Copyright 2019. All rights reserved by TMR Consulting Private Limited. Partners with
      Microsoft.
    </p>
  </div>
</div>
