<div class="top-section">
  <img src="../../../../assets/top-bar-icons/dynamics crm.png" alt="" />
  <h1>Microsoft Dynamics GP</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Solutions</p>
      <div class="links-container">
        <a routerLink="/solutions/dynamics-365" routerLinkActive="active-link"
          >Microsoft Dynamics 365</a
        >
        <a routerLink="/solutions/dynamics-gp" routerLinkActive="active-link"
          >Microsoft Dynamics GP</a
        >
        <a routerLink="/solutions/dynamics-ax" routerLinkActive="active-link"
          >Microsoft Dynamics AX</a
        >
        <a routerLink="/solutions/dynamics-crm" routerLinkActive="active-link"
          >Microsoft Dynamics CRM</a
        >
        <a routerLink="/solutions/dynamics-nav" routerLinkActive="active-link"
          >Microsoft Dynamics NAV</a
        >
        <a routerLink="/solutions/azure" routerLinkActive="active-link">Microsoft Azure</a>
        <a routerLink="/solutions/office-365" routerLinkActive="active-link"
          >Microsoft Office 365</a
        >
        <a routerLink="/solutions/business-central" routerLinkActive="active-link"
          >Microsoft Dynamics 365 <br />
          Business Central</a
        >
        <a routerLink="/solutions/sharepoint" routerLinkActive="active-link"
          >Microsoft SharePoint</a
        >
        <a routerLink="/solutions/quickbooks" routerLinkActive="active-link">Quick Books</a>
        <a routerLink="/solutions/peachtree-accounting" routerLinkActive="active-link"
          >Peachtree Accounting</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="modern-solution">
        <h5>A Modern, Unified, Adaptable, and Intelligent Solution</h5>
        <img
          src="../../../../assets/images/Microsoft-Dynamics-GP-Pakistan-TMRC-300x230.png"
          alt=""
        />
        <p>
          MS Dynamics GP in Pakistan is a flexible and configurable ERP Solution that controls
          inventory, financials, and operations of small to mid-sized firms for rapid growth.
        </p>
        <p>
          Giving a wide range of possibility to integrate new functionalities with the current
          solutions; through on-prime, private, public, or hybrid cloud deployment.
        </p>
      </div>

      <div class="div-content-part" name="why-dynamics-gp">
        <h5>Why Choose Dynamics GP?</h5>
        <h6 class="heading-doublelines">Modern</h6>
        <p>
          Microsoft Dynamics 365 in Pakistan drives business and digitally transforms them with
          multi-channel next-generation applications, artificial intelligence (AI), and social
          innovation for the rapid growth of the business.
        </p>

        <h6 class="heading-doublelines">Adaptable</h6>
        <p>
          MS Dynamics 365 in Pakistan expands existing business applications. It gives creative
          solutions according to changes in business needs through protected and extensive
          technologies.
        </p>

        <h6 class="heading-doublelines">Unified</h6>
        <p>
          This cloud-based Microsoft Portal provides unified data and processes along with unified
          relationships amongst the staff of your firm resulting in handling business tasks
          efficiently.
        </p>

        <h6 class="heading-doublelines">Intelligent</h6>
        <p>
          Integration of Analytical technologies and Artificial Intelligence enable businesses to
          target their future goals successfully.
        </p>
      </div>

      <div class="div-content-part" name="dynamics-gp-packs">
        <h5>Microsoft Dynamics GP Packs</h5>
        <h6 class="heading-doublelines">Starter Pack</h6>
        <p>
          Starter Pack of Dynamics GP is an affordable and quick solution for firms to manage
          finance, purchase, sale, items, materials, pay, and employees. Assemble Financial
          Management, Enhanced Reporting, Human resource & Payroll, Supply Chain Management,
          Configuration, and Development.
        </p>

        <h6 class="heading-doublelines">Extended Pack</h6>
        <p>
          Extends the core functionalities of financials and distribution by handling the billing
          jobs for professional services, construction, and various unique demands. Playing a vital
          role to manage Supply Chain Management, Manufacturing, Project Management, and Customer
          Relationship Management.
        </p>

        <h6 class="heading-doublelines">Customization Pack</h6>
        <p>
          Customization pack of Dynamics GP in Pakistan contains Built-in tools that provide
          adaptability for customization to meet the specific needs of the business with the
          integration of other applications. Widely offering Web Services, Customization Suite, and
          Software Development Kit.
        </p>

        <h6 class="heading-doublelines">Extended Human Resource and Payroll</h6>
        <p>
          Bringing increased functionalities to provide enhanced flexibility for the management of
          employees. Manages Advanced Payroll and HR in a smooth flow.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/solutions/dynamics-gp#modern-solution">A modern & adaptable solution</a>
        <a href="/solutions/dynamics-gp#why-dynamics-gp">Why choose dynamics GP?</a>
        <a href="/solutions/dynamics-gp#dynamics-gp-packs">Microsoft dynamics GP packs</a>
      </div>
    </div>
  </div>
</div>
