<div class="top-section">
  <img src="../../../../assets/top-bar-icons/project-management.png" alt="" />
  <h1>Peachtree Accounting</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Solutions</p>
      <div class="links-container">
        <a routerLink="/solutions/dynamics-365" routerLinkActive="active-link"
          >Microsoft Dynamics 365</a
        >
        <a routerLink="/solutions/dynamics-gp" routerLinkActive="active-link"
          >Microsoft Dynamics GP</a
        >
        <a routerLink="/solutions/dynamics-ax" routerLinkActive="active-link"
          >Microsoft Dynamics AX</a
        >
        <a routerLink="/solutions/dynamics-crm" routerLinkActive="active-link"
          >Microsoft Dynamics CRM</a
        >
        <a routerLink="/solutions/dynamics-nav" routerLinkActive="active-link"
          >Microsoft Dynamics NAV</a
        >
        <a routerLink="/solutions/azure" routerLinkActive="active-link">Microsoft Azure</a>
        <a routerLink="/solutions/office-365" routerLinkActive="active-link"
          >Microsoft Office 365</a
        >
        <a routerLink="/solutions/business-central" routerLinkActive="active-link"
          >Microsoft Dynamics 365 <br />
          Business Central</a
        >
        <a routerLink="/solutions/sharepoint" routerLinkActive="active-link"
          >Microsoft SharePoint</a
        >
        <a routerLink="/solutions/quickbooks" routerLinkActive="active-link">Quick Books</a>
        <a routerLink="/solutions/peachtree-accounting" routerLinkActive="active-link"
          >Peachtree Accounting</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="future-for-retailers">
        <img src="../../../../assets/images/peachtreetop.jpg" alt="" />
      </div>

      <div class="div-content-part">
        <h5 name="implement-peachtree-system">Implement Peachtree Accounting System</h5>
        <p>
          Get control over your business accounting using Peachtree Accounting in Pakistan
          implemented by TMRC. We help improve your productivity with accounting features that can
          automate invoices, checks, and track employee payroll. Which can help you record customer
          payments, create budgets, and track sales, inventory, and expenses and 100+ reports and
          financial statements.
        </p>

        <h5 name="add-ons">Add-ons</h5>
        <p>
          Get whatever you dream TMRC is also Add-on Partner of SAGE 50 for development of Add-on
          Solutions, which work with Peachtree Accounting in Pakistan to enhance its functionality.
          Our professionals have developed and implemented add-ons like Vouchers & Checks Printing,
          Custom Reports, Fee Management System for Schools and Bar code enabled sales and purchase
          manage.
        </p>

        <h5 name="procure">Procure</h5>
        <p>
          SAGE Products <br />
          Procure Sage Products at affordable prices such as.
        </p>
        <div class="fancy">
          <ul>
            <li>Peachtree Quantum 2011</li>
            <li>Peachtree Premium Accounting</li>
            <li>Peachtree Premium Accounting</li>
          </ul>
        </div>
      </div>

      <div class="div-content-part" name="training">
        <h5>Get Your Human Capital Trained in PeachTree Accounting</h5>
        <p>
          You can also learn Peachtree Accounting from experienced professional consultants of TMR
          Consulting. Because our trainings enable your team to get maximum out of the accounting
          system and use it effectively for the benefit of your organization.
        </p>

        <p>
          Our trainings are both class-room trainings to elaborate the concepts and features as well
          as over the internet trainings using case studies. Certificates are also issued to the
          successful trainees after passing the test.
        </p>

        <p>We can also customize our training according to your convenience and requirements.</p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/solutions/peachtree-accounting#implement-peachtree-system"
          >Implement Peachtree Accounting System</a
        >
        <a href="/solutions/peachtree-accounting#add-ons">Add-ons</a>
        <a href="/solutions/peachtree-accounting#procure">Procure</a>
        <a href="/solutions/peachtree-accounting#training">Training for Peachtree</a>
      </div>
    </div>
  </div>
</div>
