<div class="top-section">
  <img src="../../../../assets/top-bar-icons/dynamics crm.png" alt="" />
  <h1>Microsoft Dynamics AX</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Solutions</p>
      <div class="links-container">
        <a routerLink="/solutions/dynamics-365" routerLinkActive="active-link"
          >Microsoft Dynamics 365</a
        >
        <a routerLink="/solutions/dynamics-gp" routerLinkActive="active-link"
          >Microsoft Dynamics GP</a
        >
        <a routerLink="/solutions/dynamics-ax" routerLinkActive="active-link"
          >Microsoft Dynamics AX</a
        >
        <a routerLink="/solutions/dynamics-crm" routerLinkActive="active-link"
          >Microsoft Dynamics CRM</a
        >
        <a routerLink="/solutions/dynamics-nav" routerLinkActive="active-link"
          >Microsoft Dynamics NAV</a
        >
        <a routerLink="/solutions/azure" routerLinkActive="active-link">Microsoft Azure</a>
        <a routerLink="/solutions/office-365" routerLinkActive="active-link"
          >Microsoft Office 365</a
        >
        <a routerLink="/solutions/business-central" routerLinkActive="active-link"
          >Microsoft Dynamics 365 <br />
          Business Central</a
        >
        <a routerLink="/solutions/sharepoint" routerLinkActive="active-link"
          >Microsoft SharePoint</a
        >
        <a routerLink="/solutions/quickbooks" routerLinkActive="active-link">Quick Books</a>
        <a routerLink="/solutions/peachtree-accounting" routerLinkActive="active-link"
          >Peachtree Accounting</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="future-for-retailers">
        <img
          src="../../../../assets/images/Microsoft-Dynamics-AX-Banner-e1491885962698.jpg"
          alt=""
        />
      </div>

      <div class="div-content-part" name="why-dynamics-ax">
        <h5>Why Microsoft Dynamics AX?</h5>
        <div class="fancy">
          <ul>
            <li>
              Microsoft Dynamics AX in Pakistan by TMRC automates Financial Management, Supply Chain
              Management, Human Capital Management, Project Management, Services Management, Sales &
              Marketing Management.
            </li>
            <li>Integrated and adaptable ERP solutions</li>
            <li>Its also highly scalable and affordable</li>
            <li>Has familiar interface with Microsoft software</li>
            <li>Streamlines processes across your business.</li>
            <li>
              Moreover, its an ERP solution from Microsoft that you are already familiar with.
            </li>
          </ul>
        </div>
      </div>

      <div class="div-content-part" name="why-tmrc">
        <h5>Why TMR Consulting?</h5>
        <div class="fancy">
          <ul>
            <li>
              TMRC is MS Certified Partner for implementation of Microsoft Dynamics AX in Pakistan.
            </li>
            <li>We offer personalized solution matching your requirements.</li>
            <li>TMRC also trains your management and team to effectively use the system.</li>
            <li>We provide regular backup support as and when required.</li>
            <li>
              Above all our team keeps close contact with you on the progress of the projects.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/solutions/dynamics-ax#why-dynamics-ax">Why Microsoft Dynamics AX?</a>
        <a href="/solutions/dynamics-ax#why-tmrc">Why TMR Consulting?</a>
      </div>
    </div>
  </div>
</div>
