<div class="top-section">
  <img src="../../../../assets/top-bar-icons/textile-apparel.png" alt="" />
  <h1>Textile and Apparel</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="textile-apparel">Microsoft Dynamics for Textile and Apparel</h5>

    <div class="similar-div">
      <div class="div-content-part">
        <h6 class="heading-doublelines">
          Description
        </h6>
        <p>
          A vertical solution built on Microsoft Dynamics platform. With solid, industry-specific
          operation and seamless integration with other Microsoft products, Microsoft Dynamics for
          Textile and Apparel is a thorough ERP (enterprise management solution) that delivers a
          high amount of scalability and easily adapts to your business needs and changing
          commercial structure.
        </p>
        <p>
          The blend of the powerful software, a worldwide presence and the adoption of Microsoft’s
          “Cloud Based” Technique secures a risk free and low-cost implementation. It also supports
          multiple languages and currencies that can help you operate properly across geographies.
        </p>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines">Features</h6>
        <p>
          Increase agility with versatile processes for manufacturing, sourcing and delivery
          allocation: Benefit from the built-in PLM and collaboration, multi-level manufacturing,
          neutral bills of materials and purchase requests and allocation simulations to meet
          changing distributor and customer requirements.
        </p>
        <p>
          Manage complication for complete traceability: Handle several materials and product
          parameters effectively; using multi-dimensional item coding monitoring from raw material
          to finished goods. Also track materials through adjustable sourcing and manufacturing
          operations, logistics inventory and subcontractors.
        </p>
        <p>
          Take control of costs and success: Implement industry specific information into financial
          management. Also get insight into brand collections’ or seasonal performance.
        </p>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
        <p>
          We at TMRC understand how to utilize our different services, resources and also expertise
          in a combined and best way possible according to your business needs. We take holistic
          approach for the growth of your business and create an overall synergistic effect.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/industries/textile-&-apparel#textile-apparel"
          >Microsoft Dynamics for Textile & Apparel</a
        >
        <a href="/industries/textile-&-apparel#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
