<div class="top-section">
  <img src="../../../../assets/top-bar-icons/dynamics 365.png" alt="" />
  <h1>Microsoft Dynamics CRM</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Solutions</p>
      <div class="links-container">
        <a routerLink="/solutions/dynamics-365" routerLinkActive="active-link"
          >Microsoft Dynamics 365</a
        >
        <a routerLink="/solutions/dynamics-gp" routerLinkActive="active-link"
          >Microsoft Dynamics GP</a
        >
        <a routerLink="/solutions/dynamics-ax" routerLinkActive="active-link"
          >Microsoft Dynamics AX</a
        >
        <a routerLink="/solutions/dynamics-crm" routerLinkActive="active-link"
          >Microsoft Dynamics CRM</a
        >
        <a routerLink="/solutions/dynamics-nav" routerLinkActive="active-link"
          >Microsoft Dynamics NAV</a
        >
        <a routerLink="/solutions/azure" routerLinkActive="active-link">Microsoft Azure</a>
        <a routerLink="/solutions/office-365" routerLinkActive="active-link"
          >Microsoft Office 365</a
        >
        <a routerLink="/solutions/business-central" routerLinkActive="active-link"
          >Microsoft Dynamics 365 <br />
          Business Central</a
        >
        <a routerLink="/solutions/sharepoint" routerLinkActive="active-link"
          >Microsoft SharePoint</a
        >
        <a routerLink="/solutions/quickbooks" routerLinkActive="active-link">Quick Books</a>
        <a routerLink="/solutions/peachtree-accounting" routerLinkActive="active-link"
          >Peachtree Accounting</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="future-for-retailers">
        <img src="../../../../assets/images/Microsoft-Dynamic-CRM-e1491887238267.png" alt="" />
      </div>

      <div class="div-content-part" name="sales">
        <h5>Sales</h5>
        <p>
          Know your customers more than ever before with Microsoft Dynamics CRM in Pakistan
          implemented by TMRC. Buying decisions are often made before you can even engage. While
          sales must adapt to the new customer journey. So sales teams need tools that are familiar,
          intuitive, and easy to adopt to help them be more effective. Therefore, find resources
          that can help you sell more and drive results with Microsoft ERP solution.
        </p>
      </div>

      <div class="div-content-part" name="service">
        <h5>Service</h5>
        <p>
          Your customers are everywhere and, to serve them effectively, that’s where you need to be,
          too. So provide responsive, relevant, effective service—anywhere, any time, on any device.
          Moreover, inspire loyalty, empower agents, and drive service resolution with Microsoft
          Dynamics CRM in Pakistan. Finally with our service capabilities and ERP, you can:
        </p>
        <div class="fancy">
          <ul>
            <li>
              Engage customers via their channel of choice across web, social, chat, and mobile,
              with full multichannel service capabilities.
            </li>
            <li>
              Give your employees a single, unified tool to deliver fast, amazing customer service
              with the Unified Service Desk.
            </li>
            <li>
              Help reduce service response times, improve case resolution, and increase customer
              self-service with a powerful Knowledge Base.
            </li>
            <li>
              Manage and exceed customer entitlements and service level agreements (SLAs). Enable
              dynamic routing and queuing to help ensure you hit your service targets.
            </li>
            <li>
              Empower your teams to move quickly to meet today’s customer expectations. The combined
              power of Yammer and Microsoft Dynamics can increase transparency and agility.
            </li>
          </ul>
        </div>
      </div>

      <div class="div-content-part" name="marketing">
        <h5>Marketing</h5>
        <p>
          Today’s marketers need the ability to plan, execute, and measure campaigns easily, from
          start to finish. Microsoft Dynamics CRM Marketing helps you engage your customers as you
          bring your marketing vision to life. So with our marketing capabilities, you can:
        </p>
        <div class="fancy">
          <ul>
            <li>
              Help reduce your time to market and improve brand consistency and message. Deep
              customer insights help you plan effectively and execute flawlessly.
            </li>
            <li>
              Reduce the complexity of your campaigns, so you can focus on delivering amazing
              customer experiences at scale.
            </li>
            <li>
              Work better together across your team and with agencies on brand, content, and events
              to stay aligned and agile.
            </li>
            <li>
              Track your share of voice across the social web (such as Twitter, Facebook, and
              YouTube). Monitor your global sentiment and brand presence, and gain visibility on
              strategic initiatives on social media.
            </li>
            <li>
              Deliver data-driven insights, and prove real Return on Marketing Investment (ROMI).
              Use advanced business intelligence (BI) tools (like heat maps and trends) to guide
              future investments and to transform marketing from a cost centre to a growth centre.
            </li>
          </ul>
        </div>
      </div>

      <div class="div-content-part" name="social">
        <h5>Social</h5>
        <p>
          Sales people spot new opportunities and respond to competitive threats with precision.
          Marketing teams can use social insights to make their campaigns sing using Microsoft
          Dynamics CRM in Pakistan. Moreover, Customer care teams use sentiment analysis to
          understand customers and to make interactions more meaningful. With our social
          capabilities, you can:
        </p>
        <div class="fancy">
          <ul>
            <li>
              Turn sentiment into opportunity with Microsoft Social Engagement. Monitor brand
              presence and track strategic initiatives across marketing, sales, and customer
              service.
            </li>
            <li>
              Make every conversation more relevant with social insights that help you get to know
              the person behind the contact data.
            </li>
            <li>
              Engage with your customers on any channel, and provide service on their terms. Care
              everywhere to create customers for life.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/solutions/dynamics-crm#sales">Sales</a>
        <a href="/solutions/dynamics-crm#service">Service</a>
        <a href="/solutions/dynamics-crm#marketing">Marketing</a>
        <a href="/solutions/dynamics-crm#social">Social</a>
      </div>
    </div>
  </div>
</div>
