<div class="top-section">
  <img src="../../../../assets/top-bar-icons/azure.png" alt="" />
  <h1>Microsoft Azure</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Solutions</p>
      <div class="links-container">
        <a routerLink="/solutions/dynamics-365" routerLinkActive="active-link"
          >Microsoft Dynamics 365</a
        >
        <a routerLink="/solutions/dynamics-gp" routerLinkActive="active-link"
          >Microsoft Dynamics GP</a
        >
        <a routerLink="/solutions/dynamics-ax" routerLinkActive="active-link"
          >Microsoft Dynamics AX</a
        >
        <a routerLink="/solutions/dynamics-crm" routerLinkActive="active-link"
          >Microsoft Dynamics CRM</a
        >
        <a routerLink="/solutions/dynamics-nav" routerLinkActive="active-link"
          >Microsoft Dynamics NAV</a
        >
        <a routerLink="/solutions/azure" routerLinkActive="active-link">Microsoft Azure</a>
        <a routerLink="/solutions/office-365" routerLinkActive="active-link"
          >Microsoft Office 365</a
        >
        <a routerLink="/solutions/business-central" routerLinkActive="active-link"
          >Microsoft Dynamics 365 <br />
          Business Central</a
        >
        <a routerLink="/solutions/sharepoint" routerLinkActive="active-link"
          >Microsoft SharePoint</a
        >
        <a routerLink="/solutions/quickbooks" routerLinkActive="active-link">Quick Books</a>
        <a routerLink="/solutions/peachtree-accounting" routerLinkActive="active-link"
          >Peachtree Accounting</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="modern-solution">
        <h5>A Modern, Unified, Adaptable, and Intelligent Solution</h5>
        <img
          src="../../../../assets/images/MS-Azure-in-Pakistan-TMRC-1-e1551781313331.jpg"
          alt=""
        />
        <p>
          Microsoft Azure is a secure platform to optimize business in the cloud, boosting the
          customer experience, dealing risk management, build innovative apps, hybrid cloud agility,
          real-time data insight, instant disaster recovery, cost-effectiveness, and market trends
          adaptability.
        </p>
      </div>

      <div class="div-content-part" name="why-azure">
        <h5>Why Choose Microsoft Azure?</h5>
        <img src="../../../../assets/images/Microsoft-Azure-in-Pakistan-TMRC-300x300.png" alt="" />

        <h6 class="heading-doublelines">Productive</h6>
        <p>
          Build instant IT solutions by using the framework, language or any tool and engage users
          by choosing open-source technologies from more than 100 services. Further, manage complex
          apps, services, and resources to speed up the delivery processes. You will be able to
          focus on your intended apps through the built-in support and automation of repetitive
          tasks.
        </p>

        <h6 class="heading-doublelines">Intelligent</h6>
        <p>
          Transform your business by attaining the benefit of built-in-intelligence to manage threat
          detection, built-in monitoring, backup, and automatic patching. Through Microsoft Azure in
          Pakistan, your development team will be able to build, test and handle many versions of
          models during your production phase through AI applications.
        </p>

        <h6 class="heading-doublelines">Hybrid</h6>
        <p>
          With the provision of both, on-premise and cloud environment, you have the capability to
          connect your data centers to the cloud. Moreover, seamlessly and consistently manage your
          data and analytics across your cloud and on-premise environment. Also, hybrid consistency
          offered by MS Azure in PK handles data applications, integrates the security, protects the
          identity and allow you to access from anywhere.
        </p>

        <h6 class="heading-doublelines">Trusted</h6>
        <p>
          Microsoft Azure fulfills the security, privacy, and data protection requirements of a firm
          with consistency. Protect your business assets by reducing the cost of security and
          accomplishes the security gaps to boost the security parameters of the whole firm.
        </p>
      </div>

      <div class="div-content-part" name="cloud-service-models">
        <h5>Microsoft Azure Cloud Service Models</h5>

        <h6 class="heading-doublelines">Infrastructure as a Service (IaaS)</h6>
        <p>
          Infrastructure as a Service provides Storage, Virtualization, and Networking to Microsoft
          Cloud Provider. Therefore through Microsoft Azure in Pakistan, you can set up new Windows
          Server and Linux virtual machines. Only you have to make payment as per your usage and
          requirements. Hence choose core components of infrastructure and meet the infrastructure
          needs of your firm at a global or local level.
        </p>

        <h6 class="heading-doublelines">Platform as a Service (PaaS)</h6>
        <p>
          Use Microsoft Azure in Pakistan as a Platform as a Service (PaaS) for development, service
          hosting, and service management environment. Moreover, MS Azure Platform as a Service
          supports you to run web applications, host middle-tier applications, and handle the
          workflow. Plus, get access to data services like relational database, reporting, and data
          synchronization.
        </p>

        <h6 class="heading-doublelines">Software as a Service (SaaS)</h6>
        <p>
          Through Software as a Service (SaaS), you have the opportunity to access the complex
          applications. Even with MS Azure in Pakistan, SaaS gives ease to mobilize your workforce.
          Furthermore, directly access the app from web browsers by using the free client software
          and integrates the scalability to cut down the cost.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/solutions/azure#modern-solution">A modern & intelligent solution</a>
        <a href="/solutions/azure#why-azure">Why choose Microsoft Azure?</a>
        <a href="/solutions/azure#cloud-service-models">Azure cloud service models</a>
      </div>
    </div>
  </div>
</div>
