<div class="top-section">
  <img src="../../../../assets/top-bar-icons/contact.png" alt="" />
  <h1>Contact</h1>
</div>

<div class="grid-container">
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">About Us</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/about-us/contact">Contact</a>
        <a routerLinkActive="active-link" routerLink="/about-us/company-profile"
          >Company's Profile</a
        >
        <a routerLinkActive="active-link" routerLink="/about-us/erp-pakistan">ERP in Pakistan</a>
        <a routerLinkActive="active-link" routerLink="/about-us/dynamics-demo-request"
          >Microsoft Dynamics Demo Request</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="card-grid-container">
      <!-- Card 1 -->
      <div class="card-1 cardi" routerLink="/services/business-solution">
        <div class="cg-icon-hold hvr-underline-from-center">
          <img class="cg-icon" src="../../../../assets/contact-icons/islamabad.png" alt="" />
        </div>
        <h6 class="cg-heading">Head Office</h6>
        <p class="cg-text">
          Office # 2, 2nd Floor, Executive Center, I-8 Markaz, Islamabad, Pakistan.
        </p>
        <p class="cg-text"><b>Tel :</b> +92 51 4938394-6</p>
        <p class="cg-text"><b>Fax :</b> +92 51 4938396</p>
      </div>
      <!-- Card 2 -->
      <div class="card-2 cardi" routerLink="/services/infrastructure-&-endpoint">
        <div class="cg-icon-hold hvr-underline-from-center">
          <img class="cg-icon" src="../../../../assets/contact-icons/lahore.png" alt="" />
        </div>
        <h6 class="cg-heading">Lahore Office</h6>
        <p class="cg-text">
          Suite 4-C, Model Town, Lahore, Pakistan.
        </p>
        <p class="cg-text"><b>Tel :</b> +92 42 35857747-48</p>
        <p class="cg-text"><b>Fax :</b> +92 42 35857745</p>
      </div>
      <!-- Card 3 -->
      <div class="card-3 cardi" routerLink="/services/business-intelligence">
        <div class="cg-icon-hold hvr-underline-from-center">
          <img class="cg-icon" src="../../../../assets/contact-icons/mazar-e-quaid.png" alt="" />
        </div>
        <h6 class="cg-heading">Karachi Office</h6>
        <p class="cg-text">
          Office# 506, 5th Floor, Westland Trade Center, Shaheed-e-Millat Road, Near Baloch Colony
          Flyover, Karachi, Pakistan.
        </p>
        <p class="cg-text"><b>Tel :</b> +92 320 0200087</p>
      </div>
      <!-- Card 4 -->
      <div class="card-4 cardi" routerLink="/services/customization-&-dev">
        <div class="cg-icon-hold hvr-underline-from-center">
          <img class="cg-icon" src="../../../../assets/contact-icons/Burj_Al_Arab.png" alt="" />
        </div>

        <h6 class="cg-heading">UAE Office</h6>
        <p class="cg-text">
          MBC, 9th Floor, Conrad Tower, Sheikh Zaid Road, Dubai.
        </p>
        <p class="cg-text"><b>Tel :</b> +971 52 1549602</p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <!-- <div class="sidebar-right">
    
  </div> -->
</div>

<!-- Services / cards -->
