<div class="top-section">
  <img src="../../../../assets/top-bar-icons/banking.png" alt="" />
  <h1>Banking</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="banking-industry">Microsoft Dynamics for Banking Industry</h5>

    <div class="similar-div">
      <div class="div-content-part">
        <p>
          In most companies, especially in these challenging financial times, a competent and
          optimized Accounts Payable team which can process its workload with reduced resources and
          higher productivity levels is a problem. A programmed process, making sure an easy
          throughput from bank statements to resolved invoices allows companies to give attention to
          the other important tasks. Organizations that are successful in this field gain the
          benefits associated with resource efficiency and reduced costs by using Microsoft Dynamics
          for Banking Industry. Therefore, it makes a big change. In a very speedily changing
          environment, agility is also very essential. To attain agility, you will need the support
          of your business program you can trust.
        </p>
        <p>
          In short, Microsoft Dynamics for Banking industry helps the importing and computerized
          settling of bank statements. It also includes the Accounts Receivable, Accounts Payable
          and Standard Ledger modules.
        </p>
      </div>

      <div class="div-content-part">
        <h6 class="heading-doublelines">Features</h6>
        <div class="fancy">
          <ul>
            <li>Use of lender accounts to recognize vendors and customers</li>
            <li>Settlement to start invoices, predicated on invoice figures and amounts</li>
            <li>Additional identifiers can be configured by users</li>
            <li>Default ledger accounts e.g. Standard bank Costs, Payment Terminals</li>
            <li>Ending balance features to make sure completeness</li>
            <li>E-mail payment specs for larger payments</li>
          </ul>
        </div>
      </div>

      <div class="div-content-part">
        <h6 class="heading-doublelines">Benefits</h6>
        <div class="fancy">
          <ul>
            <li>Streamline bank processes</li>
            <li>Automatic pay out of wide open invoices</li>
            <li>No manual keying of standard bank statements or errors</li>
            <li>Significant cost reduction</li>
            <li>Automatic project to ledger accounts</li>
          </ul>
        </div>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
        <p>
          We at TMRC understand how to utilize our different services, resources and also expertise
          in a combined and best way possible according to your business needs. We take holistic
          approach for the growth of your business and create an overall synergistic effect.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/industries/banking#banking-industry">Microsoft Dynamics for Banking Industry</a>
        <a href="/industries/banking#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
