<div class="top-section">
  <img src="../../../../assets/top-bar-icons/demo-request.png" alt="" />
  <h1>Microsoft Dynamics Demo Request</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">About Us</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/about-us/contact">Contact</a>
        <a routerLinkActive="active-link" routerLink="/about-us/company-profile"
          >Company's Profile</a
        >
        <a routerLinkActive="active-link" routerLink="/about-us/erp-pakistan">ERP in Pakistan</a>
        <a routerLinkActive="active-link" routerLink="/about-us/dynamics-demo-request"
          >Microsoft Dynamics Demo Request</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="div-content-part">
      <p>
        Send us an email and request Microsoft Dynamics Demo for free. Get an overlook about what
        Microsoft Dynamics can offer as ERP of the future and explore its exciting new features
        yourself. The Microsoft Dynamics Demo will not give an over; but will also let you explore
        the endless business growth possibilities. Moreover, You can also check how you can manage
        your business more effectively.
      </p>
      <p>
        So fill out the form below with details related to your business; and help us set up a live
        Microsoft Dynamics Demo according to your business needs.
      </p>
    </div>
  </div>
</div>
