<div class="top-section">
  <img src="../../../../assets/top-bar-icons/public-sector.png" alt="" />
  <h1>Public Sector</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Industries</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/industries/retail">Retail</a>
        <a routerLinkActive="active-link" routerLink="/industries/public-sector">Public Sector</a>
        <a routerLinkActive="active-link" routerLink="/industries/consumer-goods">Consumer Goods</a>
        <a routerLinkActive="active-link" routerLink="/industries/textile-&-apparel"
          >Textile & Apparel</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/pharmaceutical">Pharmaceutical</a>
        <a routerLinkActive="active-link" routerLink="/industries/banking">Banking</a>
        <a routerLinkActive="active-link" routerLink="/industries/insurance">Insurance</a>
        <a routerLinkActive="active-link" routerLink="/industries/education">Education</a>
        <a routerLinkActive="active-link" routerLink="/industries/energy-&-utilities"
          >Energy & Utilities</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/telecom">Telecom</a>
        <a routerLinkActive="active-link" routerLink="/industries/logistics-&-transportation"
          >Logistics & Transportation</a
        >
        <a routerLinkActive="active-link" routerLink="/industries/chemical">Chemical</a>
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <h5 name="public-sector">Microsoft Dynamics for Public Sector</h5>
    <div class="similar-div">
      <div class="div-content-part">
        <h6 class="heading-doublelines">
          Secure, Efficient & Dependable Cloud Solution
        </h6>
        <p>
          Meeting the needs of individuals, citizens, co-workers and oversight organizations
          requires a great level of accountability, transparency and efficiency that a lot of
          private sector organizations seldom encounter. The sensitive and complex nature of public
          data and reporting, funding, regulatory compliance, workforce management, and federal
          government standards elevate the necessity for cloud alternatives that are trustworthy,
          reliable and secure. This makes ERP like Microsoft Dynamics for Public Sector even more
          necessary.
        </p>
      </div>
      <div class="div-content-part">
        <h6 class="heading-doublelines">Dynamics From TMRC</h6>
        <p>
          TMRC public sector team has maintained hundreds of successful deployments for various
          city, state and local firms. We know how to help Govt. bodies increase satisfaction within
          societies while enhancing functional effectiveness.
        </p>
        <p>
          TMRC combines Microsoft Dynamics for Public Sector with industry guidelines, proven
          methodologies and built in technology solutions to provide the tools you will need to
          resolve your operational troubles and challenges. And also navigate the diverse landscape
          of public service. You can expect ready-to-deploy, ground breaking cloud solution. And can
          also partner with you through a complete range of services in the regions of finance and
          operations, business and technology consulting, customer engagement, human resource
          management and business intelligence. Our technology and industry business experts can
          develop an application integration strategy that works for your business.
        </p>
      </div>

      <div class="div-content-part">
        <h6 class="heading-doublelines" name="why-tmrc">Why TMRC</h6>
        <p>
          We at TMRC understand how to utilize our different services, resources and also expertise
          in a combined and best way possible according to your business needs. We take holistic
          approach for the growth of your business and create an overall synergistic effect.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/industries/public-sector#public-sector">Microsoft Dynamics for Public Sector</a>
        <a href="/industries/public-sector#why-tmrc">Why TMRC</a>
      </div>
    </div>
  </div>
</div>
