<div class="top-section">
  <img src="../../../../assets/top-bar-icons/dynamics 365.png" alt="" />
  <h1>Microsoft Dynamics 365</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Solutions</p>
      <div class="links-container">
        <a routerLink="/solutions/dynamics-365" routerLinkActive="active-link"
          >Microsoft Dynamics 365</a
        >
        <a routerLink="/solutions/dynamics-gp" routerLinkActive="active-link"
          >Microsoft Dynamics GP</a
        >
        <a routerLink="/solutions/dynamics-ax" routerLinkActive="active-link"
          >Microsoft Dynamics AX</a
        >
        <a routerLink="/solutions/dynamics-crm" routerLinkActive="active-link"
          >Microsoft Dynamics CRM</a
        >
        <a routerLink="/solutions/dynamics-nav" routerLinkActive="active-link"
          >Microsoft Dynamics NAV</a
        >
        <a routerLink="/solutions/azure" routerLinkActive="active-link">Microsoft Azure</a>
        <a routerLink="/solutions/office-365" routerLinkActive="active-link"
          >Microsoft Office 365</a
        >
        <a routerLink="/solutions/business-central" routerLinkActive="active-link"
          >Microsoft Dynamics 365 <br />
          Business Central</a
        >
        <a routerLink="/solutions/sharepoint" routerLinkActive="active-link"
          >Microsoft SharePoint</a
        >
        <a routerLink="/solutions/quickbooks" routerLinkActive="active-link">Quick Books</a>
        <a routerLink="/solutions/peachtree-accounting" routerLinkActive="active-link"
          >Peachtree Accounting</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="modern-solution">
        <h5>A Modern, Unified, Adaptable, and Intelligent Solution</h5>
        <img
          src="../../../../assets/images/Microsoft-Dynamics-365-in-Pakistan-TMRC-300x300.png"
          alt=""
        />
        <p>
          Dynamics 365, Cloud-based solution, the combination of Enterprise Resource Planning (ERP)
          and Customer Relationship Management (CRM) giving strength to business by generating
          effective outcomes; possessing enough capabilities to digitally transform the business
          applications.
        </p>
        <p>
          Manage the workflow of business with flexibility & adaptability and accomplish large scale
          collaboration among multiple departments of the firm with real-time insight.
        </p>
      </div>

      <div class="div-content-part" name="why-dynamics-365">
        <h5>Why Choose Dynamics 365?</h5>
        <h6 class="heading-doublelines">Modern</h6>
        <p>
          Microsoft Dynamics 365 in Pakistan drives business and digitally transforms them with
          multi-channel next-generation applications, artificial intelligence (AI), and social
          innovation for the rapid growth of the business.
        </p>

        <h6 class="heading-doublelines">Adaptable</h6>
        <p>
          MS Dynamics 365 in Pakistan expands existing business applications. It gives creative
          solutions according to changes in business needs through protected and extensive
          technologies.
        </p>

        <h6 class="heading-doublelines">Unified</h6>
        <p>
          This cloud-based Microsoft Portal provides unified data and processes along with unified
          relationships amongst the staff of your firm resulting in handling business tasks
          efficiently.
        </p>

        <h6 class="heading-doublelines">Intelligent</h6>
        <p>
          Integration of Analytical technologies and Artificial Intelligence enable businesses to
          target their future goals successfully.
        </p>
      </div>

      <div class="div-content-part" name="dynamics-365-modules">
        <h5>Dynamics 365 Modules</h5>
        <h6 class="heading-doublelines">Finance and operation</h6>
        <p>
          A Global solution, playing a crucial role in the growth of the business by managing
          finance and operations at large scale with full adaptability to integrate the growing
          demands of the market.
        </p>

        <h6 class="heading-doublelines">Customer Service</h6>
        <p>
          Built-in-intelligence of Dynamics 365 in Pakistan gives firms empowerment to target goals
          faster. Personalized services in CRM grab the attention of customers in the market with
          individuality.
        </p>

        <h6 class="heading-doublelines">Marketing</h6>
        <p>
          Able to target great leads through tracking of progress and improvement of personalized
          experience. Entrepreneurs can make smarter decisions, automate the business processes, and
          adapt the marketing trends to accelerate ROI with creativeness.
        </p>

        <h6 class="heading-doublelines">Retail</h6>
        <p>
          Playing a vital role to boost the productivity of employee and engagement of customers by
          providing a digitally unified channel. Dynamics 365 in PK for retail generate advanced
          shopping experience with uniqueness and perceptiveness.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a href="/solutions/dynamics-365#modern-solution">A Modern & adaptable solution</a>
        <a href="/solutions/dynamics-365#why-dynamics-365">Why choose dynamics 365?</a>
        <a href="/solutions/dynamics-365#dynamics-365-modules">Dynamics 365 Modules</a>
      </div>
    </div>
  </div>
</div>
