<div class="top-section">
  <img src="../../../../assets/top-bar-icons/growth.png" alt="" />
  <h1>Business Intelligence & Reporting</h1>
</div>

<div class="grid-container">
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">Services</p>
      <div class="links-container">
        <a routerLink="/services/business-solution" routerLinkActive="active-link"
          >Business Solutions</a
        >
        <a routerLink="/services/infrastructure-&-endpoint/" routerLinkActive="active-link"
          >InfraStructure & EndPoint Managment</a
        >
        <a routerLink="/services/business-intelligence" routerLinkActive="active-link"
          >Business Intelligence & Reporting</a
        >
        <a routerLink="/services/customization-&-dev" routerLinkActive="active-link"
          >Customization & Development</a
        >
      </div>
    </div>
  </div>

  <div class="content-part">
    <p>
      Factors to get success in the business market are becoming complex due to continues change and
      advancement of the technology. Well, to compete in the market, business personals have to come
      up with effective tactics like business intelligence and reporting. Hence business
      intelligence and better reporting give the improved use of data analytics to firms. Plus, BI
      opens up new opportunities for firms with cut down the cost to grow exponentially.
    </p>

    <p class="fancy-paragraph">
      We at TMRC are offering Business Intelligence consulting to our clients from decades. We have
      a team of experienced Microsoft Business Intelligence consultants to provide help to small or
      large size organizations. Therefore, our consultants enable our clients to make actionable
      insights and informed decisions through the use of Microsoft Business Intelligence and
      reporting analytics.
    </p>

    <p>
      Further, our team of experts recommends proven technology platforms under the needs of our
      clients. Plus, we are with our clients to provide systematic planning, design, and
      implementation of customized business intelligence solution. Henceforth our clients will end
      up at the scalable, reliable, robust, and profitable solution.
    </p>
    <p>
      Betterment of our clients is our top priority, consequently, we are also offering other
      supportive and helping products. Hence use our products to give sharp growth to your business.
      Additionally, we not only provide the products but also provide 24/7 support to our clients so
      you can reach to us directly as we feel appreciation in helping you.
    </p>

    <!-- <div class="tags-div">
      <a>Business</a>
      <a>Design</a>
      <a>Development</a>
    </div>

    
    <div class="writer-grid">
      <div class="writer-item-1">
        <img
          src="../../assets/images/person.jpg"
          class="rounded-circle"
          width="150"
          height="150"
          alt=""
        />
      </div>
      <div class="writer-item-2">
        <h3>Muhammad Mazhar Javed</h3>
        <p>
          The article was written by &Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Laborum itaque cumque necessitatibus.
        </p>
        <div class="w-c-social-icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div> -->
  </div>

  <div class="sidebar-right">
    <div class="title-and-links">
      <p class="links-title">Related Industries</p>
      <div class="styled-links-container">
        <a href="#">Business Development</a>
        <a href="#">Finance</a>
        <a href="#">Accounting</a>
        <a href="#">Functional Department</a>
        <a href="#">Design</a>
        <a href="#">Services</a>
        <a href="#">Solutions</a>
      </div>
    </div>
  </div>
</div>

<!-- Related Posts Area -->
<div class="posts-area-grid">
  <div class="post-item-1"></div>
  <div class="post-item-2">
    <div class="pi-top">
      <p>Related Posts</p>
      <div>
        <!-- Div created for double lines -->
      </div>
    </div>
    <div class="post-grid">
      <div class="card-item-1">
        <img class="post-image" src="../../assets/images/bg1.jpg" alt="" />
        <h3 class="post-title">Microsoft azure, business cloud partner</h3>
        <p class="post-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit...
        </p>
      </div>

      <div class="card-item-2">
        <img class="post-image" src="../../assets/images/bg1.jpg" alt="" />
        <h3 class="post-title">Study the new digital course developed</h3>
        <p class="post-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit...
        </p>
      </div>

      <div class="card-item-3">
        <img class="post-image" src="../../assets/images/bg1.jpg" alt="" />
        <h3 class="post-title">Creative project managment training</h3>
        <p class="post-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit...
        </p>
      </div>
    </div>
  </div>
  <div class="post-item-3"></div>
</div>
