<div class="top-section">
  <img src="../../../../assets/top-bar-icons/demo-request.png" alt="" />
  <h1>ERP in Pakistan</h1>
</div>

<!-- Main container that holds three columns -->
<div class="grid-container">
  <!-- Sidebar on the left side -->
  <div class="sidebar-left">
    <div class="title-and-links ">
      <p class="links-title">About Us</p>
      <div class="links-container">
        <a routerLinkActive="active-link" routerLink="/about-us/contact">Contact</a>
        <a routerLinkActive="active-link" routerLink="/about-us/company-profile"
          >Company's Profile</a
        >
        <a routerLinkActive="active-link" routerLink="/about-us/erp-pakistan">ERP in Pakistan</a>
        <a routerLinkActive="active-link" routerLink="/about-us/dynamics-demo-request"
          >Microsoft Dynamics Demo Request</a
        >
      </div>
    </div>
  </div>

  <!-- Content part that is in the center -->
  <div class="content-part">
    <div class="similar-div">
      <div class="div-content-part" name="manage-finances-resources">
        <h5>A software to manage Finances, Human Resources, Manufacturing, and Supply Chain</h5>
        <img src="../../../../assets/images/ERP-in-Pakistan.jpg" alt="" />
        <p>
          ERP in Pakistan helps to grow business on a global scale by fulfilling the current and
          future needs of the firm. It combines supply chain, reporting, operations, manufacturing,
          human resource activities and financials of the organization at one place. Moreover,
          Enterprise Resource Planning is a business process management software to handle the
          business.
        </p>
        <p>
          Effective ERP solutions allow firms to boost business productivity with data-driven
          decisions. Furthermore, integrates business processes to enhance collaboration.
        </p>
      </div>

      <div class="div-content-part" name="business-functions">
        <h5>Business functions Managed by ERP</h5>
        <img src="../../../../assets/images/ERP-2.png" alt="" />

        <h6 class="heading-doublelines">Finances</h6>
        <p>
          You can get real-time information from anywhere and anytime about your firm with viewing
          your finances through the dashboards. Plus, automates your daily tasks and provide
          tracking abilities.
        </p>

        <h6 class="heading-doublelines">Manufacturing</h6>
        <p>
          Fulfill customer’s needs through real-time data and improves business communication. Also,
          offers optimization for projects and automation of the business processes.
        </p>

        <h6 class="heading-doublelines">Human Resources</h6>
        <p>
          Integrates the modern solution to manage payroll, hiring, and other duties. Further, it
          has the capability to track the performance of employees and to identify the human
          resource problems in advance.
        </p>

        <h6 class="heading-doublelines">Supply Chain</h6>
        <p>
          Use of ERP modern solutions offers user-friendly dashboards and business intelligence to
          handle inventory management of your firm in an efficient manner.
        </p>
      </div>

      <div class="div-content-part" name="benefits-of-erp">
        <h5>Benefits of ERP</h5>
        <h6 class="heading-doublelines">Customize reporting</h6>
        <p>
          Your firm has the ability to handle customization of reporting with ease. Plus, you can
          respond to complex data requests through the improved reporting capabilities.
        </p>

        <h6 class="heading-doublelines">Collaboration among teams</h6>
        <p>
          Establish collaboration among various teams and departments of your firm through a
          centralized and consistent approach of ERP. As a result, boost the collective efforts of
          all the departments.
        </p>

        <h6 class="heading-doublelines">Cost-effective</h6>
        <p>
          Through Enterprise Resource Planning, your firm has a chance to clearly reduce operational
          and administrative costs in managing operations, delays, and decision making.
        </p>

        <h6 class="heading-doublelines">Keep you in Competition</h6>
        <p>
          Make your investment in ERP and compete your competitors in the market by adopting the
          latest technology.
        </p>

        <h6 class="heading-doublelines">Expand solutions</h6>
        <p>
          Have an ever-green platform to expand your current business solutions as the needs of your
          business exceeds.
        </p>

        <h6 class="heading-doublelines">Centralized database</h6>
        <p>
          ERP offers a centralized database that allows users to work from any location through
          mobile-friendly interfaces and applications.
        </p>

        <h6 class="heading-doublelines">Forecasts your business growth</h6>
        <p>
          It gives Friendly user interface for managers of the firms to create accurate and
          realistic forecast to progress the business in the right direction.
        </p>

        <h6 class="heading-doublelines">Keep data updated</h6>
        <p>
          Data of a firm is crucial so ERP allows you to keep your data accurate, consistent, unique
          and updated as it integrates all data at one place.
        </p>

        <h6 class="heading-doublelines">Improve customer relationship</h6>
        <p>
          ERP provides high-quality customer service that ensures a better relationship with your
          customers as you will have consistent interaction with them.
        </p>

        <h6 class="heading-doublelines">Boost productivity</h6>
        <p>
          ERP boosts the productivity of the firm as it has the ability to automates business
          processes, present accurate and real-time information. Moreover, handle complex
          operations, prevent data re-entry and improve functions.
        </p>

        <h6 class="heading-doublelines">Time-effective</h6>
        <p>
          Saves your crucial time through ERP as it automates business processes and allows you to
          consume your time on some other productive tasks.
        </p>

        <h6 class="heading-doublelines">Streamline business processes</h6>
        <p>
          Have a platform for you to streamline business processes and to eliminates repetitive
          tasks.
        </p>
      </div>
    </div>
  </div>
  <!-- Sidebar on the Right side -->
  <div class="sidebar-right">
    <div class="title-and-links">
      <div class="styled-links-container">
        <a class="side-link-selected" href="/about-us/erp-pakistan#manage-finances-resources"
          >A software to manage finances & human resources</a
        >
        <a href="/about-us/erp-pakistan#business-functions">Business functions Managed by ERP</a>
        <a href="/about-us/erp-pakistan#benefits-of-erp">Benefits of ERP</a>
      </div>
    </div>
  </div>
</div>
